Software/Edward User interface.json
[{"id":"4f78ce2c24f810f8","type":"tab","label":"Main Interface","disabled":false,"info":"","env":[]},{"id":"590f50c2a4f3bbc8","type":"tab","label":"Data Tab","disabled":false,"info":"","env":[]},{"id":"e9f9229c.d8b86","type":"server","name":"Home Assistant","addon":true},{"id":"b772926c8fe6d71b","type":"ui_tab","name":"Edward's interface","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"fec43f760e21d1d2","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#199b3b","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#199b3b","edited":true},"page-titlebar-backgroundColor":{"value":"#199b3b","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#25dc55","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#199b3b","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Edward Prototype v2","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD.MM.YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9b19a6cbbd4521f4","type":"ui_group","name":"Floorplan","tab":"b772926c8fe6d71b","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"ac18d69912335410","type":"ui_group","name":"Charts","tab":"b772926c8fe6d71b","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e537fd3e96219fd8","type":"onvif-config","xaddress":"10.1.1.161","port":"8000","timeout":"30","checkConnectionInterval":"5","name":"OnonoCam"},{"id":"bd14d2bc8e27db66","type":"ui_group","name":"Security","tab":"b772926c8fe6d71b","order":3,"disp":true,"width":"6","collapse":false,"className":"security"},{"id":"35cce126e5fae31b","type":"ui_group","name":"Settings","tab":"b772926c8fe6d71b","order":4,"disp":true,"width":"6","collapse":false,"className":"settings"},{"id":"fad02b2e3dc754d3","type":"ui_tab","name":"Edward's data","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"5c8f7cbcb812feb1","type":"ui_group","name":"Device Data","tab":"fad02b2e3dc754d3","order":1,"disp":true,"width":"12","collapse":false,"className":"deviceData"},{"id":"e6bc42f13c26fd92","type":"ui_group","name":"User Questions","tab":"fad02b2e3dc754d3","order":3,"disp":true,"width":"12","collapse":false,"className":"userQuestions"},{"id":"00ea2f9b558a3805","type":"ui_svg_graphics","z":"4f78ce2c24f810f8","group":"9b19a6cbbd4521f4","order":2,"width":"0","height":"0","svgString":"<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"382.75 262.5 147 230\">\n    <style type=\"text/css\">\n        .st0 {\n            fill: #DADADA !important;\n        }\n\n        .st1 {\n            fill: #C6C6C6 !important;\n        }\n\n        .st2 {\n            fill: #706F6F !important;\n        }\n\n        .st3 {\n            fill: #009FE3 !important;\n        }\n\n        .st4 {\n            fill: #1D71B8 !important;\n        }\n\n        .st5 {\n            opacity: 0.6 !important;\n        }\n\n        .st6 {\n            clip-path: url(#SVGID_2_) !important;\n            fill: #C08939 !important;\n        }\n\n        .st7 {\n            fill: #3B8F3E !important;\n        }\n\n        .st8 {\n            fill: #84C285 !important;\n        }\n\n        .st9 {\n            fill: #44A047 !important;\n        }\n\n        .st10 {\n            fill: #62B455 !important;\n        }\n\n        .st11 {\n            fill: #29235C !important;\n        }\n\n        .st12 {\n            fill: #6B6B6B !important;\n        }\n\n        .st13 {\n            fill: #E73442 !important;\n        }\n\n        .st14 {\n            fill: url(#SVGID_3_) !important;\n        }\n\n        .st15 {\n            fill: #575756 !important;\n        }\n\n        .st16 {\n            fill: #3C3C3B !important;\n        }\n\n        .st17 {\n            font-family: 'DINAlternate-Bold' !important;\n        }\n\n        .st18 {\n            font-size: 13px !important;\n        }\n\n        .st19 {\n            font-size: 7px !important;\n        }\n\n        .st20 {\n            fill: #F39200 !important;\n        }\n\n        .st21 {\n            fill: #199B3B !important;\n        }\n\n        .st22 {\n            fill: #CC1919 !important;\n        }\n\n        .st23 {\n            font-size: 3.9442px !important;\n        }\n\n        .st24 {\n            clip-path: url(#SVGID_5_) !important;\n        }\n\n        .st25 {\n            fill: #C08939;\n             !important\n        }\n\n        .st26 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFFFFF !important;\n        }\n\n        .st27 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFFFFE !important;\n        }\n\n        .st28 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFFFFD !important;\n        }\n\n        .st29 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFFEFC !important;\n        }\n\n        .st30 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFFEFB !important;\n        }\n\n        .st31 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFFEFA !important;\n        }\n\n        .st32 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFFEF9 !important;\n        }\n\n        .st33 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFFEF8 !important;\n        }\n\n        .st34 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFFEF7 !important;\n        }\n\n        .st35 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFFDF7 !important;\n        }\n\n        .st36 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFFDF6 !important;\n        }\n\n        .st37 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFFDF5 !important;\n        }\n\n        .st38 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFFDF4 !important;\n        }\n\n        .st39 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFFDF3 !important;\n        }\n\n        .st40 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFFDF2 !important;\n        }\n\n        .st41 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFFCF2 !important;\n        }\n\n        .st42 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFFCF1 !important;\n        }\n\n        .st43 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFFCF0 !important;\n        }\n\n        .st44 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFFCEF !important;\n        }\n\n        .st45 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFFCEE !important;\n        }\n\n        .st46 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFFCED !important;\n        }\n\n        .st47 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFFBEC !important;\n        }\n\n        .st48 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFFBEB !important;\n        }\n\n        .st49 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFFBEA !important;\n        }\n\n        .st50 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFFBE9 !important;\n        }\n\n        .st51 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFFBE8 !important;\n        }\n\n        .st52 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFFBE7 !important;\n        }\n\n        .st53 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFFAE7 !important;\n        }\n\n        .st54 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFFAE6 !important;\n        }\n\n        .st55 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFFAE5 !important;\n        }\n\n        .st56 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFFAE4 !important;\n        }\n\n        .st57 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFFAE3 !important;\n        }\n\n        .st58 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFFAE2 !important;\n        }\n\n        .st59 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF9E1 !important;\n        }\n\n        .st60 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF9E0 !important;\n        }\n\n        .st61 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF9DF !important;\n        }\n\n        .st62 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF9DE !important;\n        }\n\n        .st63 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF9DD !important;\n        }\n\n        .st64 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF8DC !important;\n        }\n\n        .st65 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF8DB !important;\n        }\n\n        .st66 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF8DA !important;\n        }\n\n        .st67 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF8D9 !important;\n        }\n\n        .st68 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF8D8 !important;\n        }\n\n        .st69 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF8D7 !important;\n        }\n\n        .st70 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF7D7 !important;\n        }\n\n        .st71 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF7D6 !important;\n        }\n\n        .st72 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF7D5 !important;\n        }\n\n        .st73 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF7D4 !important;\n        }\n\n        .st74 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF7D3 !important;\n        }\n\n        .st75 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF7D2 !important;\n        }\n\n        .st76 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF6D1 !important;\n        }\n\n        .st77 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF6D0 !important;\n        }\n\n        .st78 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF6CF !important;\n        }\n\n        .st79 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF6CE !important;\n        }\n\n        .st80 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF6CD !important;\n        }\n\n        .st81 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF6CC !important;\n        }\n\n        .st82 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF5CB !important;\n        }\n\n        .st83 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF5CA !important;\n        }\n\n        .st84 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF5C9 !important;\n        }\n\n        .st85 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF5C8 !important;\n        }\n\n        .st86 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF5C7 !important;\n        }\n\n        .st87 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF4C6 !important;\n        }\n\n        .st88 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF4C5 !important;\n        }\n\n        .st89 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF4C4 !important;\n        }\n\n        .st90 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF4C3 !important;\n        }\n\n        .st91 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF4C2 !important;\n        }\n\n        .st92 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF4C1 !important;\n        }\n\n        .st93 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF3C0 !important;\n        }\n\n        .st94 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF3BF !important;\n        }\n\n        .st95 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF3BE !important;\n        }\n\n        .st96 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF3BD !important;\n        }\n\n        .st97 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF3BC !important;\n        }\n\n        .st98 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF3BB !important;\n        }\n\n        .st99 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF2BA !important;\n        }\n\n        .st100 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF2B9 !important;\n        }\n\n        .st101 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF2B8 !important;\n        }\n\n        .st102 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF2B7 !important;\n        }\n\n        .st103 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF2B6 !important;\n        }\n\n        .st104 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF2B5 !important;\n        }\n\n        .st105 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF1B4 !important;\n        }\n\n        .st106 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF1B3 !important;\n        }\n\n        .st107 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF1B2 !important;\n        }\n\n        .st108 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF1B1 !important;\n        }\n\n        .st109 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF1B0 !important;\n        }\n\n        .st110 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF1AF !important;\n        }\n\n        .st111 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF0AE !important;\n        }\n\n        .st112 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF0AD !important;\n        }\n\n        .st113 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF0AC !important;\n        }\n\n        .st114 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF0AB !important;\n        }\n\n        .st115 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFF0AA !important;\n        }\n\n        .st116 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEFA9 !important;\n        }\n\n        .st117 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEFA8 !important;\n        }\n\n        .st118 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEFA7 !important;\n        }\n\n        .st119 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEFA6 !important;\n        }\n\n        .st120 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEFA5 !important;\n        }\n\n        .st121 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEFA4 !important;\n        }\n\n        .st122 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEFA3 !important;\n        }\n\n        .st123 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEEA3 !important;\n        }\n\n        .st124 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEEA2 !important;\n        }\n\n        .st125 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEEA1 !important;\n        }\n\n        .st126 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEEA0 !important;\n        }\n\n        .st127 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEE9F !important;\n        }\n\n        .st128 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEE9E !important;\n        }\n\n        .st129 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEE9D !important;\n        }\n\n        .st130 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFED9C !important;\n        }\n\n        .st131 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFED9B !important;\n        }\n\n        .st132 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFED9A !important;\n        }\n\n        .st133 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFED99 !important;\n        }\n\n        .st134 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFED98 !important;\n        }\n\n        .st135 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFED97 !important;\n        }\n\n        .st136 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFED96 !important;\n        }\n\n        .st137 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEC95 !important;\n        }\n\n        .st138 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEC94 !important;\n        }\n\n        .st139 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEC93 !important;\n        }\n\n        .st140 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEC92 !important;\n        }\n\n        .st141 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEC91 !important;\n        }\n\n        .st142 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEC90 !important;\n        }\n\n        .st143 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEC8F !important;\n        }\n\n        .st144 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEB8E !important;\n        }\n\n        .st145 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEB8D !important;\n        }\n\n        .st146 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEB8C !important;\n        }\n\n        .st147 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEB8B !important;\n        }\n\n        .st148 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEB8A !important;\n        }\n\n        .st149 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEB89 !important;\n        }\n\n        .st150 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEB88 !important;\n        }\n\n        .st151 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEA87 !important;\n        }\n\n        .st152 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEA86 !important;\n        }\n\n        .st153 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEA85 !important;\n        }\n\n        .st154 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEA84 !important;\n        }\n\n        .st155 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEA83 !important;\n        }\n\n        .st156 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFEA82 !important;\n        }\n\n        .st157 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE981 !important;\n        }\n\n        .st158 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE980 !important;\n        }\n\n        .st159 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE97F !important;\n        }\n\n        .st160 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE97E !important;\n        }\n\n        .st161 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE97D !important;\n        }\n\n        .st162 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE97C !important;\n        }\n\n        .st163 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE97A !important;\n        }\n\n        .st164 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE879 !important;\n        }\n\n        .st165 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE878 !important;\n        }\n\n        .st166 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE877 !important;\n        }\n\n        .st167 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE876 !important;\n        }\n\n        .st168 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE875 !important;\n        }\n\n        .st169 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE874 !important;\n        }\n\n        .st170 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE873 !important;\n        }\n\n        .st171 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE772 !important;\n        }\n\n        .st172 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE771 !important;\n        }\n\n        .st173 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE770 !important;\n        }\n\n        .st174 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE76E !important;\n        }\n\n        .st175 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE76D !important;\n        }\n\n        .st176 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE76C !important;\n        }\n\n        .st177 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE76B !important;\n        }\n\n        .st178 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE66A !important;\n        }\n\n        .st179 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE669 !important;\n        }\n\n        .st180 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE668 !important;\n        }\n\n        .st181 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE667 !important;\n        }\n\n        .st182 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE665 !important;\n        }\n\n        .st183 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE664 !important;\n        }\n\n        .st184 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE663 !important;\n        }\n\n        .st185 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE562 !important;\n        }\n\n        .st186 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE561 !important;\n        }\n\n        .st187 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE560 !important;\n        }\n\n        .st188 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE55E !important;\n        }\n\n        .st189 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE55D !important;\n        }\n\n        .st190 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE55C !important;\n        }\n\n        .st191 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE55B !important;\n        }\n\n        .st192 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE45A !important;\n        }\n\n        .st193 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE458 !important;\n        }\n\n        .st194 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE457 !important;\n        }\n\n        .st195 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE456 !important;\n        }\n\n        .st196 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE455 !important;\n        }\n\n        .st197 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE453 !important;\n        }\n\n        .st198 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE452 !important;\n        }\n\n        .st199 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE351 !important;\n        }\n\n        .st200 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE350 !important;\n        }\n\n        .st201 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE34E !important;\n        }\n\n        .st202 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE34D !important;\n        }\n\n        .st203 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE34C !important;\n        }\n\n        .st204 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE34A !important;\n        }\n\n        .st205 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE349 !important;\n        }\n\n        .st206 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE247 !important;\n        }\n\n        .st207 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE246 !important;\n        }\n\n        .st208 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE245 !important;\n        }\n\n        .st209 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE243 !important;\n        }\n\n        .st210 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE242 !important;\n        }\n\n        .st211 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE240 !important;\n        }\n\n        .st212 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE23F !important;\n        }\n\n        .st213 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE23D !important;\n        }\n\n        .st214 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE13C !important;\n        }\n\n        .st215 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE13A !important;\n        }\n\n        .st216 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE139 !important;\n        }\n\n        .st217 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE137 !important;\n        }\n\n        .st218 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE136 !important;\n        }\n\n        .st219 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE134 !important;\n        }\n\n        .st220 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE132 !important;\n        }\n\n        .st221 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE131 !important;\n        }\n\n        .st222 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE02F !important;\n        }\n\n        .st223 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE02D !important;\n        }\n\n        .st224 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE02B !important;\n        }\n\n        .st225 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE02A !important;\n        }\n\n        .st226 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE028 !important;\n        }\n\n        .st227 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE026 !important;\n        }\n\n        .st228 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE023 !important;\n        }\n\n        .st229 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFE021 !important;\n        }\n\n        .st230 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFDF1F !important;\n        }\n\n        .st231 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFDF1D !important;\n        }\n\n        .st232 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFDF1A !important;\n        }\n\n        .st233 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFDF17 !important;\n        }\n\n        .st234 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFDF14 !important;\n        }\n\n        .st235 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFDF10 !important;\n        }\n\n        .st236 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFDF0C !important;\n        }\n\n        .st237 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFDF07 !important;\n        }\n\n        .st238 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFDF02 !important;\n        }\n\n        .st239 {\n            clip-path: url(#SVGID_7_) !important;\n            fill: #FFDE00 !important;\n        }\n\n        text {\n            text-anchor: end !important;\n            font-weight: bold !important;\n            user-select: none !important;\n            font-family: 'DINAlternate-Bold', Roboto, monospace !important;\n            font-size: 12.7px !important;\n        }\n\n        #fillPlantTank:hover,\n        #emptyPlantTank:hover,\n        #automationLoop:hover * {\n            fill: #84C285 !important;\n        }\n\n        #fillPlantTank[data-active=FULL],\n        #emptyPlantTank[data-active=EMPTY],\n        #automationLoop[data-active=on] * {\n            fill: #199B3B !important;\n        }\n\n        #helios[data-active=off] {\n            filter: grayscale(1) contrast(0.5) !important;\n            opacity: 0.5 !important;\n        }\n\n        #stateOkay,\n        #stateWarning,\n        #stateError {\n            filter: grayscale(1) !important;\n            opacity: 0.3 !important;\n        }\n\n        #stateWarning {\n            opacity: 0.6 !important;\n        }\n\n        #stateOkay:not([data-status=\"WARNING\"]):not([data-status=\"ERROR\"]) {\n            filter: unset !important;\n            opacity: 1 !important;\n        }\n        \n        #stateWarning[data-status=\"WARNING\"] {\n            filter: unset !important;\n            opacity: 1 !important;\n        }\n        \n        #stateError[data-status=\"ERROR\"] {\n            filter: unset !important;\n            opacity: 1 !important;\n        }\n    </style>\n    <path id=\"fillPlantTank\" class=\"st0\"\n        d=\"M413,408.7l-4.3-7.5c-0.5-0.8-1.3-1.3-2.2-1.3c-0.9,0-1.8,0.5-2.2,1.3l-4.3,7.5c-0.5,0.8-0.5,1.8,0,2.6   s1.3,1.3,2.2,1.3h1.3v6.2c0,1.7,1.4,3.1,3.1,3.1c1.7,0,3.1-1.4,3.1-3.1v-6.2h1.3c0.9,0,1.8-0.5,2.2-1.3   C413.5,410.5,413.5,409.5,413,408.7z\" />\n    <path id=\"emptyPlantTank\" class=\"st1\"\n        d=\"M450.2,412l4.3,7.5c0.5,0.8,1.3,1.3,2.2,1.3s1.8-0.5,2.2-1.3l4.3-7.5c0.5-0.8,0.5-1.8,0-2.6   c-0.5-0.8-1.3-1.3-2.2-1.3h-1.3v-6.2c0-1.7-1.4-3.1-3.1-3.1c-1.7,0-3.1,1.4-3.1,3.1v6.2h-1.3c-0.9,0-1.8,0.5-2.2,1.3   C449.7,410.2,449.7,411.2,450.2,412z\" />\n    <path class=\"st2\"\n        d=\"M513,425.8v56.8c0,3.9-3.1,7-7,7h-95.3c-3.9,0-7-3.1-7-7v-56.8h-3v56.8c0,5.5,4.5,10,10,10H506   c5.5,0,10-4.5,10-10v-56.8H513z\" />\n    <path class=\"st2\"\n        d=\"M513,342.7v40.2c0,3.9-3.1,7-7,7h-95.3c-3.9,0-7-3.1-7-7v-40.2h-3v40.2c0,5.5,4.5,10,10,10H506   c5.5,0,10-4.5,10-10v-40.2H513z\" />\n    <path class=\"st3\"\n        d=\"M410.7,489.6H506c3.9,0,7-3.1,7-7v-27l-0.1-9.6c-0.9-0.1-1.8-0.5-2.5-1.1c-0.8-0.8-1.6-1.6-2.3-2.5   c-0.9-1-1.7-2.1-2.7-2.9c-2.4-2.1-5.8-1.8-8,0.7c-1.1,1.2-2.2,2.5-3.2,3.7c-2.5,2.9-6.4,2.9-8.9,0c-1.1-1.2-2.1-2.5-3.2-3.7   c-2.5-2.8-6.4-2.8-8.8,0c-1.1,1.2-2.2,2.5-3.2,3.7c-2.5,2.8-6.3,2.8-8.8-0.1c-1.1-1.3-2.2-2.5-3.3-3.7c-2.4-2.7-6.3-2.7-8.7,0   c-1.1,1.2-2.2,2.5-3.2,3.7c-2.5,2.9-6.3,2.9-8.8,0.1c-1.1-1.3-2.2-2.5-3.3-3.8c-2.4-2.7-6.3-2.7-8.7,0c-1.1,1.3-2.2,2.6-3.4,3.9   c-2.4,2.8-6.4,2.7-8.8-0.1c-1.1-1.3-2.2-2.6-3.4-3.8c-1.7-1.8-3.6-2.3-5.8-1.7c0,15.2,0,2.1,0,17.3v28.2   C404.4,487.1,407.3,489.6,410.7,489.6z\" />\n    <path class=\"st4\" d=\"M513.1,357.5H403.8v25.8c0,3.9,3.1,7,7,7h95.3c3.9,0,7-3.1,7-7V357.5z\" />\n    <g class=\"st5\">\n        <defs>\n            <path id=\"SVGID_4_\" class=\"st5\"\n                d=\"M513.1,357.7H403.7l0.2,25.6c0,3.9,3.1,7,7,7h95.3c3.9,0,7-3.1,7-7L513.1,357.7z\" />\n        </defs>\n        <clipPath id=\"SVGID_5_\">\n            <use xmlns:xlink=\"http://www.w3.org/1999/xlink\" xlink:href=\"#SVGID_4_\" style=\"overflow:visible;\" />\n        </clipPath>\n        <g class=\"st24 st25\">\n            <circle cx=\"458.9\" cy=\"365.4\" r=\"3.7\" />\n            <circle cx=\"501.4\" cy=\"381\" r=\"3.7\" />\n            <circle cx=\"422.8\" cy=\"386.9\" r=\"3.7\" />\n            <circle cx=\"483.7\" cy=\"366.7\" r=\"3.7\" />\n            <circle cx=\"429.1\" cy=\"364\" r=\"3.7\" />\n            <circle cx=\"454.9\" cy=\"383.9\" r=\"3.7\" />\n            <circle cx=\"512.6\" cy=\"369.2\" r=\"3.7\" />\n            <circle cx=\"474.1\" cy=\"370.9\" r=\"3.7\" />\n            <circle cx=\"439.6\" cy=\"375.5\" r=\"3.7\" />\n            <circle cx=\"418.4\" cy=\"377.9\" r=\"3.7\" />\n            <circle cx=\"468.9\" cy=\"360\" r=\"3.7\" />\n            <circle cx=\"442.9\" cy=\"356.4\" r=\"3.7\" />\n            <circle cx=\"435.9\" cy=\"391.6\" r=\"3.7\" />\n            <circle cx=\"417.4\" cy=\"368.7\" r=\"3.7\" />\n            <circle cx=\"485.8\" cy=\"387.4\" r=\"3.7\" />\n            <circle cx=\"466.4\" cy=\"386.6\" r=\"3.7\" />\n            <circle cx=\"500.6\" cy=\"364.6\" r=\"3.7\" />\n            <circle cx=\"411.8\" cy=\"391.6\" r=\"3\" />\n            <circle cx=\"449.8\" cy=\"390.1\" r=\"3\" />\n            <circle cx=\"490.2\" cy=\"377.1\" r=\"3\" />\n            <circle cx=\"412.1\" cy=\"361.9\" r=\"3\" />\n            <circle cx=\"448.2\" cy=\"369.3\" r=\"3\" />\n            <circle cx=\"463.5\" cy=\"374.1\" r=\"3\" />\n            <circle cx=\"474.7\" cy=\"384.4\" r=\"3\" />\n            <circle cx=\"430.8\" cy=\"375.8\" r=\"3\" />\n            <circle cx=\"407.5\" cy=\"382.7\" r=\"3\" />\n            <circle cx=\"438.5\" cy=\"363.6\" r=\"3\" />\n            <circle cx=\"481\" cy=\"379\" r=\"3\" />\n            <circle cx=\"408.7\" cy=\"373.8\" r=\"3\" />\n            <circle cx=\"444.4\" cy=\"385.3\" r=\"3\" />\n            <circle cx=\"420.4\" cy=\"359.1\" r=\"3\" />\n            <circle cx=\"508.6\" cy=\"360\" r=\"3\" />\n            <circle cx=\"453.8\" cy=\"374.4\" r=\"3\" />\n            <circle cx=\"434.2\" cy=\"356.8\" r=\"3\" />\n            <circle cx=\"450.6\" cy=\"361.4\" r=\"3\" />\n            <circle cx=\"493.8\" cy=\"388.2\" r=\"3\" />\n            <circle cx=\"494.2\" cy=\"369.4\" r=\"3\" />\n            <circle cx=\"478.6\" cy=\"359.5\" r=\"3\" />\n            <circle cx=\"430.5\" cy=\"382.9\" r=\"3\" />\n            <circle cx=\"504.4\" cy=\"372.7\" r=\"3\" />\n            <circle cx=\"504.8\" cy=\"388.5\" r=\"3\" />\n            <circle cx=\"470\" cy=\"378.3\" r=\"3\" />\n            <circle cx=\"447.4\" cy=\"378.2\" r=\"3\" />\n            <circle cx=\"509.1\" cy=\"378.4\" r=\"3\" />\n            <circle cx=\"424.7\" cy=\"371.8\" r=\"2.2\" />\n            <circle cx=\"414.1\" cy=\"385.3\" r=\"2.2\" />\n            <circle cx=\"498.1\" cy=\"356.2\" r=\"2.2\" />\n            <circle cx=\"466.6\" cy=\"367.5\" r=\"2.2\" />\n            <circle cx=\"406.9\" cy=\"366.4\" r=\"2.2\" />\n            <circle cx=\"436.8\" cy=\"382.7\" r=\"2.2\" />\n            <circle cx=\"458.9\" cy=\"390.1\" r=\"2.2\" />\n            <circle cx=\"434.8\" cy=\"370.1\" r=\"2.2\" />\n            <circle cx=\"490.4\" cy=\"363.2\" r=\"2.2\" />\n            <circle cx=\"461.7\" cy=\"380.7\" r=\"2.2\" />\n            <circle cx=\"474.6\" cy=\"390.8\" r=\"2.2\" />\n            <circle cx=\"496.4\" cy=\"375.3\" r=\"2.2\" />\n            <circle cx=\"406.4\" cy=\"358.4\" r=\"2.2\" />\n            <circle cx=\"484.4\" cy=\"373.9\" r=\"2.2\" />\n            <circle cx=\"494.2\" cy=\"382\" r=\"2.2\" />\n            <circle cx=\"444.9\" cy=\"363.7\" r=\"2.2\" />\n            <circle cx=\"406.1\" cy=\"388.9\" r=\"2.2\" />\n            <circle cx=\"425.6\" cy=\"379.5\" r=\"2.2\" />\n            <circle cx=\"428.7\" cy=\"390.5\" r=\"2.2\" />\n            <circle cx=\"441.9\" cy=\"368.9\" r=\"2.2\" />\n            <circle cx=\"514\" cy=\"362.5\" r=\"2.2\" />\n            <circle cx=\"474.5\" cy=\"364.1\" r=\"2.2\" />\n            <circle cx=\"495.1\" cy=\"360.6\" r=\"2.2\" />\n            <circle cx=\"484.5\" cy=\"360.1\" r=\"1.5\" />\n            <circle cx=\"412.4\" cy=\"378.7\" r=\"1.5\" />\n            <circle cx=\"422.7\" cy=\"364.7\" r=\"1.5\" />\n        </g>\n    </g>\n    <path class=\"st4\"\n        d=\"M461.2,443.8c2.5,2.8,6.3,2.9,8.8,0.1c0.7-0.8,1.3-1.5,2-2.3c-0.4-0.5-0.9-1-1.3-1.5c-2.5-2.8-6.4-2.8-8.8,0    c-0.6,0.7-1.3,1.5-1.9,2.2C460.4,442.9,460.8,443.3,461.2,443.8z\" />\n    <path class=\"st4\"\n        d=\"M485.3,443.8c2.5,2.9,6.4,2.9,8.9,0c0.6-0.7,1.3-1.5,1.9-2.2c-0.7-0.8-1.3-1.5-2-2.2c-2.4-2.1-5.8-1.8-8,0.7    c-0.7,0.8-1.3,1.5-2,2.3C484.4,442.9,484.9,443.3,485.3,443.8z\" />\n    <path class=\"st4\"\n        d=\"M437.2,443.9c2.5,2.8,6.4,2.8,8.8-0.1c0.6-0.7,1.3-1.5,1.9-2.2c-0.4-0.5-0.9-1-1.3-1.5    c-2.4-2.7-6.3-2.7-8.7,0c-0.7,0.8-1.3,1.5-2,2.3C436.3,442.9,436.7,443.4,437.2,443.9z\" />\n    <path class=\"st4\"\n        d=\"M413,443.8c2.4,2.8,6.3,2.8,8.8,0.1c0.7-0.8,1.3-1.5,2-2.3c-0.4-0.5-0.9-1-1.3-1.5c-2.4-2.7-6.3-2.7-8.7,0    c-0.7,0.8-1.3,1.5-2,2.3C412.2,442.9,412.6,443.3,413,443.8z\" />\n    <g id=\"l4SyOq.tif_5_\">\n        <path class=\"st7\"\n            d=\"M421.2,316.5c0.7,0.4,1.5,0.6,2.2,1.1c2.5,1.6,4,4,5.2,6.7c1.4,3.1,1.7,6.3,1.6,9.7     c-0.2,6.9-1.6,13.7-3.4,20.3c-0.3,1.1-1,1.7-2,1.9c0-3.5,0.1-7,0-10.5c-0.2-6.3-0.8-12.6-2.3-18.7c-0.2-0.8-0.5-1.6-0.8-2.5     c-0.4,0.4-0.2,0.6-0.1,0.9c0.5,1.6,0.9,3.3,1.2,5c1.5,7.8,1.7,15.7,1.6,23.6c0,0.7,0.3,1.4-0.3,2.1c-1-0.9-1.3-2.2-1.4-3.5     c-0.7-5.5-1.6-10.9-3-16.3c-0.7-2.7-1.7-5.3-2.4-8c-0.7-2.7-1.3-5.5-0.8-8.3c0.2-1,0.5-1.9,1.4-2.6c0.7-0.6,1.6-0.5,2.4-0.6     C420.5,316.4,420.8,316.4,421.2,316.5z\" />\n        <path class=\"st8\"\n            d=\"M427.5,359.1c-0.9-1.1-0.7-2.4-0.5-3.6c1.2-5.4,3.8-10.3,6.4-15.2c1.8-3.5,3.9-6.9,6.8-9.7     c1.6-1.5,3.3-2.8,5.4-3.4c2.7-0.7,5.8,0.6,7.3,3c1,1.6,0.8,3.3,0.2,5c-0.9,2.7-2.6,5-4.5,7.2c-3.7,4.4-8,8.1-12.5,11.7     c-1.5,1.2-3.1,2.5-4.5,3.8c-0.6,0.6-1.3,1.1-2,1.4c-0.6,0.3-1.1,0.4-1.7,0.1c0.2-0.9,0.7-1.8,1.1-2.6c2.2-4.5,4.8-8.8,7.9-12.8     c2.3-3,4.9-5.7,7.8-8.2c0.9-0.7,1.8-1.4,2.6-2.1c0.1-0.1,0.3-0.2,0.2-0.4c-0.1-0.2-0.3-0.1-0.4,0c-0.1,0.1-0.3,0.2-0.4,0.3     c-1.6,1.3-3.2,2.6-4.7,4.1c-5.2,5.2-9.4,11.1-12.8,17.6C428.7,356.7,428.1,357.9,427.5,359.1z\" />\n        <path class=\"st9\"\n            d=\"M421,357.4c-1,0.6-2,0.5-2.7-0.4c-0.8-1-1.5-2.1-2.2-3.2c-3.6-5.4-8.4-9-14.7-10.6c-2.3-0.6-3.7-2.2-3.9-4.1     c-0.2-2.2,1.2-4.2,3.4-4.9c3.1-0.9,6.1-0.6,8.9,0.9c6.1,3.1,10.2,7.9,11.8,14.7c0.5,2,0.4,4.1,0.1,6.1c0,0.4-0.2,0.7-0.3,1     c-0.1-0.1-0.2-0.3-0.2-0.4c-1.2-3.7-3.1-7-5.6-10c-2.4-2.9-5.2-5.2-8.3-7.2c-0.6-0.4-1.3-0.9-2.1-1c0,0.3,0.2,0.4,0.3,0.5     c1.9,1,3.7,2.3,5.4,3.6c3.9,3.2,7,7,9,11.7C420.4,355.2,420.9,356.3,421,357.4z\" />\n        <path class=\"st10\"\n            d=\"M424.5,360.5c-0.1,0.1-0.2,0.1-0.3-0.1c0.1-1.3,0.1-2.6,0.2-3.9c0-0.3,0-0.6-0.2-0.8     c0.6-0.6,0.3-1.4,0.3-2.1c0.1-7.9-0.1-15.8-1.6-23.6c-0.3-1.7-0.7-3.4-1.2-5c-0.1-0.2-0.3-0.5,0.1-0.9c0.3,0.9,0.6,1.7,0.8,2.5     c1.5,6.2,2.1,12.4,2.3,18.7c0.1,3.5,0,7,0,10.5C424.7,357.5,424.6,359,424.5,360.5z\" />\n        <path class=\"st10\"\n            d=\"M427.2,360.9c-0.1,0-0.2,0-0.4-0.1c0.1-0.6,0.6-1.1,0.6-1.7c0.6-1.2,1.2-2.5,1.8-3.7     c3.3-6.5,7.5-12.4,12.8-17.6c1.5-1.5,3.1-2.8,4.7-4.1c0.1-0.1,0.3-0.2,0.4-0.3c0.1-0.1,0.3-0.2,0.4,0c0.1,0.2-0.1,0.3-0.2,0.4     c-0.9,0.7-1.8,1.3-2.6,2.1c-2.9,2.5-5.5,5.2-7.8,8.2c-3.1,4-5.7,8.2-7.9,12.8c-0.4,0.9-0.9,1.7-1.1,2.6     C427.5,359.9,427.4,360.4,427.2,360.9z\" />\n        <path class=\"st10\"\n            d=\"M422.1,360.1c-0.1,0.1-0.2,0-0.4,0c-0.2-0.9-0.1-1.9-0.8-2.6c-0.1-1.2-0.6-2.3-1.1-3.3     c-2-4.6-5.1-8.5-9-11.7c-1.7-1.4-3.4-2.7-5.4-3.6c-0.1-0.1-0.4-0.1-0.3-0.5c0.8,0.1,1.5,0.6,2.1,1c3.1,2,5.9,4.3,8.3,7.2     c2.5,3,4.4,6.3,5.6,10c0,0.1,0.2,0.3,0.2,0.4C421.5,358,422,359,422.1,360.1z\" />\n    </g>\n    <g id=\"l4SyOq.tif_4_\">\n        <path class=\"st7\"\n            d=\"M452.5,316.5c0.7,0.4,1.5,0.6,2.2,1.1c2.5,1.6,4,4,5.2,6.7c1.4,3.1,1.7,6.3,1.6,9.7     c-0.2,6.9-1.6,13.7-3.4,20.3c-0.3,1.1-1,1.7-2,1.9c0-3.5,0.1-7,0-10.5c-0.2-6.3-0.8-12.6-2.3-18.7c-0.2-0.8-0.5-1.6-0.8-2.5     c-0.4,0.4-0.2,0.6-0.1,0.9c0.5,1.6,0.9,3.3,1.2,5c1.5,7.8,1.7,15.7,1.6,23.6c0,0.7,0.3,1.4-0.3,2.1c-1-0.9-1.3-2.2-1.4-3.5     c-0.7-5.5-1.6-10.9-3-16.3c-0.7-2.7-1.7-5.3-2.4-8c-0.7-2.7-1.3-5.5-0.8-8.3c0.2-1,0.5-1.9,1.4-2.6c0.7-0.6,1.6-0.5,2.4-0.6     C451.9,316.4,452.2,316.4,452.5,316.5z\" />\n        <path class=\"st8\"\n            d=\"M458.8,359.1c-0.9-1.1-0.7-2.4-0.5-3.6c1.2-5.4,3.8-10.3,6.4-15.2c1.8-3.5,3.9-6.9,6.8-9.7     c1.6-1.5,3.3-2.8,5.4-3.4c2.7-0.7,5.8,0.6,7.3,3c1,1.6,0.8,3.3,0.2,5c-0.9,2.7-2.6,5-4.5,7.2c-3.7,4.4-8,8.1-12.5,11.7     c-1.5,1.2-3.1,2.5-4.5,3.8c-0.6,0.6-1.3,1.1-2,1.4c-0.6,0.3-1.1,0.4-1.7,0.1c0.2-0.9,0.7-1.8,1.1-2.6c2.2-4.5,4.8-8.8,7.9-12.8     c2.3-3,4.9-5.7,7.8-8.2c0.9-0.7,1.8-1.4,2.6-2.1c0.1-0.1,0.3-0.2,0.2-0.4c-0.1-0.2-0.3-0.1-0.4,0c-0.1,0.1-0.3,0.2-0.4,0.3     c-1.6,1.3-3.2,2.6-4.7,4.1c-5.2,5.2-9.4,11.1-12.8,17.6C460,356.7,459.4,357.9,458.8,359.1z\" />\n        <path class=\"st9\"\n            d=\"M452.3,357.4c-1,0.6-2,0.5-2.7-0.4c-0.8-1-1.5-2.1-2.2-3.2c-3.6-5.4-8.4-9-14.7-10.6     c-2.3-0.6-3.7-2.2-3.9-4.1c-0.2-2.2,1.2-4.2,3.4-4.9c3.1-0.9,6.1-0.6,8.9,0.9c6.1,3.1,10.2,7.9,11.8,14.7c0.5,2,0.4,4.1,0.1,6.1     c0,0.4-0.2,0.7-0.3,1c-0.1-0.1-0.2-0.3-0.2-0.4c-1.2-3.7-3.1-7-5.6-10c-2.4-2.9-5.2-5.2-8.3-7.2c-0.6-0.4-1.3-0.9-2.1-1     c0,0.3,0.2,0.4,0.3,0.5c1.9,1,3.7,2.3,5.4,3.6c3.9,3.2,7,7,9,11.7C451.7,355.2,452.2,356.3,452.3,357.4z\" />\n        <path class=\"st10\"\n            d=\"M455.9,360.5c-0.1,0.1-0.2,0.1-0.3-0.1c0.1-1.3,0.1-2.6,0.2-3.9c0-0.3,0-0.6-0.2-0.8     c0.6-0.6,0.3-1.4,0.3-2.1c0.1-7.9-0.1-15.8-1.6-23.6c-0.3-1.7-0.7-3.4-1.2-5c-0.1-0.2-0.3-0.5,0.1-0.9c0.3,0.9,0.6,1.7,0.8,2.5     c1.5,6.2,2.1,12.4,2.3,18.7c0.1,3.5,0,7,0,10.5C456,357.5,456,359,455.9,360.5z\" />\n        <path class=\"st10\"\n            d=\"M458.6,360.9c-0.1,0-0.2,0-0.4-0.1c0.1-0.6,0.6-1.1,0.6-1.7c0.6-1.2,1.2-2.5,1.8-3.7     c3.3-6.5,7.5-12.4,12.8-17.6c1.5-1.5,3.1-2.8,4.7-4.1c0.1-0.1,0.3-0.2,0.4-0.3c0.1-0.1,0.3-0.2,0.4,0c0.1,0.2-0.1,0.3-0.2,0.4     c-0.9,0.7-1.8,1.3-2.6,2.1c-2.9,2.5-5.5,5.2-7.8,8.2c-3.1,4-5.7,8.2-7.9,12.8c-0.4,0.9-0.9,1.7-1.1,2.6     C458.9,359.9,458.8,360.4,458.6,360.9z\" />\n        <path class=\"st10\"\n            d=\"M453.4,360.1c-0.1,0.1-0.2,0-0.4,0c-0.2-0.9-0.1-1.9-0.8-2.6c-0.1-1.2-0.6-2.3-1.1-3.3     c-2-4.6-5.1-8.5-9-11.7c-1.7-1.4-3.4-2.7-5.4-3.6c-0.1-0.1-0.4-0.1-0.3-0.5c0.8,0.1,1.5,0.6,2.1,1c3.1,2,5.9,4.3,8.3,7.2     c2.5,3,4.4,6.3,5.6,10c0,0.1,0.2,0.3,0.2,0.4C452.8,358,453.3,359,453.4,360.1z\" />\n    </g>\n    <g id=\"l4SyOq.tif_3_\">\n        <path class=\"st7\"\n            d=\"M482,314.5c0.7,0.4,1.5,0.6,2.2,1.1c2.5,1.6,4,4,5.2,6.7c1.4,3.1,1.7,6.3,1.6,9.7     c-0.2,6.9-1.6,13.7-3.4,20.3c-0.3,1.1-1,1.7-2,1.9c0-3.5,0.1-7,0-10.5c-0.2-6.3-0.8-12.6-2.3-18.7c-0.2-0.8-0.5-1.6-0.8-2.5     c-0.4,0.4-0.2,0.6-0.1,0.9c0.5,1.6,0.9,3.3,1.2,5c1.5,7.8,1.7,15.7,1.6,23.6c0,0.7,0.3,1.4-0.3,2.1c-1-0.9-1.3-2.2-1.4-3.5     c-0.7-5.5-1.6-10.9-3-16.3c-0.7-2.7-1.7-5.3-2.4-8c-0.7-2.7-1.3-5.5-0.8-8.3c0.2-1,0.5-1.9,1.4-2.6c0.7-0.6,1.6-0.5,2.4-0.6     C481.4,314.4,481.7,314.5,482,314.5z\" />\n        <path class=\"st8\"\n            d=\"M488.3,357.2c-0.9-1.1-0.7-2.4-0.5-3.6c1.2-5.4,3.8-10.3,6.4-15.2c1.8-3.5,3.9-6.9,6.8-9.7     c1.6-1.5,3.3-2.8,5.4-3.4c2.7-0.7,5.8,0.6,7.3,3c1,1.6,0.8,3.3,0.2,5c-0.9,2.7-2.6,5-4.5,7.2c-3.7,4.4-8,8.1-12.5,11.7     c-1.5,1.2-3.1,2.5-4.5,3.8c-0.6,0.6-1.3,1.1-2,1.4c-0.6,0.3-1.1,0.4-1.7,0.1c0.2-0.9,0.7-1.8,1.1-2.6c2.2-4.5,4.8-8.8,7.9-12.8     c2.3-3,4.9-5.7,7.8-8.2c0.9-0.7,1.8-1.4,2.6-2.1c0.1-0.1,0.3-0.2,0.2-0.4c-0.1-0.2-0.3-0.1-0.4,0c-0.1,0.1-0.3,0.2-0.4,0.3     c-1.6,1.3-3.2,2.6-4.7,4.1c-5.2,5.2-9.4,11.1-12.8,17.6C489.5,354.7,488.9,356,488.3,357.2z\" />\n        <path class=\"st9\"\n            d=\"M481.8,355.5c-1,0.6-2,0.5-2.7-0.4c-0.8-1-1.5-2.1-2.2-3.2c-3.6-5.4-8.4-9-14.7-10.6     c-2.3-0.6-3.7-2.2-3.9-4.1c-0.2-2.2,1.2-4.2,3.4-4.9c3.1-0.9,6.1-0.6,8.9,0.9c6.1,3.1,10.2,7.9,11.8,14.7c0.5,2,0.4,4.1,0.1,6.1     c0,0.4-0.2,0.7-0.3,1c-0.1-0.1-0.2-0.3-0.2-0.4c-1.2-3.7-3.1-7-5.6-10c-2.4-2.9-5.2-5.2-8.3-7.2c-0.6-0.4-1.3-0.9-2.1-1     c0,0.3,0.2,0.4,0.3,0.5c1.9,1,3.7,2.3,5.4,3.6c3.9,3.2,7,7,9,11.7C481.2,353.2,481.7,354.3,481.8,355.5z\" />\n        <path class=\"st10\"\n            d=\"M485.4,358.5c-0.1,0.1-0.2,0.1-0.3-0.1c0.1-1.3,0.1-2.6,0.2-3.9c0-0.3,0-0.6-0.2-0.8     c0.6-0.6,0.3-1.4,0.3-2.1c0.1-7.9-0.1-15.8-1.6-23.6c-0.3-1.7-0.7-3.4-1.2-5c-0.1-0.2-0.3-0.5,0.1-0.9c0.3,0.9,0.6,1.7,0.8,2.5     c1.5,6.2,2.1,12.4,2.3,18.7c0.1,3.5,0,7,0,10.5C485.5,355.6,485.4,357.1,485.4,358.5z\" />\n        <path class=\"st10\"\n            d=\"M488.1,358.9c-0.1,0-0.2,0-0.4-0.1c0.1-0.6,0.6-1.1,0.6-1.7c0.6-1.2,1.2-2.5,1.8-3.7     c3.3-6.5,7.5-12.4,12.8-17.6c1.5-1.5,3.1-2.8,4.7-4.1c0.1-0.1,0.3-0.2,0.4-0.3c0.1-0.1,0.3-0.2,0.4,0c0.1,0.2-0.1,0.3-0.2,0.4     c-0.9,0.7-1.8,1.3-2.6,2.1c-2.9,2.5-5.5,5.2-7.8,8.2c-3.1,4-5.7,8.2-7.9,12.8c-0.4,0.9-0.9,1.7-1.1,2.6     C488.4,357.9,488.3,358.5,488.1,358.9z\" />\n        <path class=\"st10\"\n            d=\"M482.9,358.2c-0.1,0.1-0.2,0-0.4,0c-0.2-0.9-0.1-1.9-0.8-2.6c-0.1-1.2-0.6-2.3-1.1-3.3     c-2-4.6-5.1-8.5-9-11.7c-1.7-1.4-3.4-2.7-5.4-3.6c-0.1-0.1-0.4-0.1-0.3-0.5c0.8,0.1,1.5,0.6,2.1,1c3.1,2,5.9,4.3,8.3,7.2     c2.5,3,4.4,6.3,5.6,10c0,0.1,0.2,0.3,0.2,0.4C482.3,356.1,482.8,357.1,482.9,358.2z\" />\n    </g>\n    <g id=\"waterHeater\">\n        <path class=\"st11\"\n            d=\"M417.7,481.5c-0.1,0.1-0.1,0.1-0.2,0.2c0,0-0.1,0.1-0.1,0.1c-0.1,0.1-0.2,0.1-0.3,0.2     c-0.1,0.1-0.2,0.1-0.3,0.2c0,0,0,0,0,0c-0.1,0-0.1,0.1-0.2,0.1c-0.1,0.1-0.3,0.1-0.4,0.2c-0.3,0.1-0.6,0.2-0.8,0.2     c-0.2,0-0.3,0.1-0.5,0.2c-0.2,0-0.3,0-0.5,0c-0.3,0-0.7,0-1,0c-0.1,0-0.2,0-0.3,0c-0.2,0-0.3-0.1-0.5-0.1c-0.1,0-0.1,0-0.2,0     c-0.2-0.1-0.4-0.1-0.6-0.2c-0.1,0-0.1,0-0.2-0.1c-0.1,0-0.2-0.1-0.4-0.1c-0.1,0-0.2-0.1-0.2-0.1c-0.2-0.1-0.3-0.2-0.5-0.3     c-2-1.2-3-3.7-2.5-6c0.3-1.4,1-2.6,2.1-3.5c0.3-0.2,0.4-0.5,0.4-0.9c0-4.7,0-9.4,0-14.1c0-1.4,0.6-2.4,1.9-3     c2.1-1,4.5,0.5,4.6,2.8c0,0.4,0,0.8,0,1.2c0,4.4,0,8.7,0,13.1c0,0.5,0.2,0.8,0.5,1.1c1.6,1.3,2.3,3.1,2.1,5.1     c-0.1,1.5-0.8,2.7-1.8,3.7C417.8,481.5,417.8,481.5,417.7,481.5z M416.2,464.6C416.2,464.6,416.2,464.6,416.2,464.6     c0-2.4,0-4.8,0-7.2c0-1.7-1.9-2.8-3.4-2c-0.9,0.5-1.3,1.2-1.3,2.2c0,4.7,0,9.3,0,14c0,0.7-0.2,1.3-0.8,1.8     c-1.5,1.3-2.1,2.9-1.7,4.8c0.6,2.8,3.4,4.5,6.1,3.8c2.1-0.6,3.3-1.9,3.6-4c0.3-1.8-0.3-3.4-1.8-4.6c-0.6-0.5-0.8-1-0.8-1.7     C416.2,469.2,416.2,466.9,416.2,464.6z\" />\n        <path class=\"st11\"\n            d=\"M421.1,459.7c-0.7,0-1.5,0-2.2,0c-0.4,0-0.5-0.2-0.5-0.5c0-0.3,0.2-0.5,0.6-0.5c1.5,0,3,0,4.5,0     c0.4,0,0.5,0.2,0.5,0.5c0,0.3-0.2,0.4-0.5,0.4C422.6,459.7,421.8,459.7,421.1,459.7z\" />\n        <path class=\"st11\"\n            d=\"M421.1,470.8c-0.7,0-1.5,0-2.2,0c-0.3,0-0.5-0.2-0.5-0.5c0-0.3,0.2-0.5,0.5-0.5c1.5,0,3,0,4.6,0     c0.3,0,0.5,0.2,0.5,0.5c0,0.3-0.2,0.4-0.5,0.4C422.6,470.8,421.9,470.8,421.1,470.8z\" />\n        <path class=\"st11\"\n            d=\"M423.8,465c-0.2,0.1-0.4,0.2-0.5,0.2c-1.4,0-2.9,0-4.3,0c-0.3,0-0.5-0.1-0.6-0.3c0,0,0,0,0-0.1     c-0.1-0.2,0-0.4,0.2-0.5c1.5,0,3,0,4.6,0c0.2,0,0.4,0,0.6,0.1l0,0c0,0.1,0,0.2,0,0.3c0,0,0,0,0,0c0,0,0,0,0,0     C423.8,464.8,423.8,464.9,423.8,465z\" />\n        <path class=\"st11\"\n            d=\"M420.5,461.6c0.6,0,1.1,0,1.7,0c0.4,0,0.5,0.2,0.5,0.5c0,0.3-0.2,0.4-0.5,0.4c-1.1,0-2.3,0-3.4,0     c-0.3,0-0.5-0.2-0.5-0.5c0-0.3,0.2-0.4,0.5-0.4C419.4,461.6,420,461.6,420.5,461.6z\" />\n        <path class=\"st11\"\n            d=\"M420.5,468c-0.5,0-1.1,0-1.6,0c-0.4,0-0.6-0.2-0.6-0.5c0-0.3,0.2-0.5,0.6-0.5c1.1,0,2.2,0,3.2,0     c0.4,0,0.6,0.2,0.6,0.5c0,0.3-0.2,0.4-0.6,0.5C421.6,468,421.1,468,420.5,468z\" />\n        <path class=\"st12\"\n            d=\"M423.8,464.5c-0.2,0-0.4-0.1-0.6-0.1c-1.5,0-3,0-4.6,0c0.1,0,0.2-0.1,0.3-0.1c1.5,0,3,0,4.5,0     C423.5,464.3,423.6,464.4,423.8,464.5z\" />\n        <path class=\"st12\"\n            d=\"M414.9,482.9c0.2-0.1,0.3-0.1,0.5-0.2c0.3-0.1,0.6-0.2,0.8-0.2C415.8,482.6,415.3,482.8,414.9,482.9z\" />\n        <path class=\"st12\" d=\"M413.4,482.9c0.3,0,0.7,0,1,0C414,482.9,413.7,482.9,413.4,482.9z\" />\n        <path class=\"st12\"\n            d=\"M423.7,464.7c0-0.1,0-0.2,0-0.3c0.2,0.2,0.2,0.4,0.1,0.6C423.8,464.9,423.8,464.8,423.7,464.7L423.7,464.7z     \" />\n        <path class=\"st12\" d=\"M410.7,482c0.2,0.1,0.3,0.2,0.5,0.3C411,482.2,410.8,482.1,410.7,482z\" />\n        <path class=\"st12\" d=\"M411.9,482.6c0.2,0.1,0.4,0.1,0.6,0.2C412.2,482.7,412.1,482.7,411.9,482.6z\" />\n        <path class=\"st12\" d=\"M412.6,482.8c0.2,0,0.3,0.1,0.5,0.1C412.9,482.9,412.8,482.9,412.6,482.8z\" />\n        <path class=\"st12\" d=\"M411.4,482.4c0.1,0,0.2,0.1,0.4,0.1C411.6,482.5,411.5,482.5,411.4,482.4z\" />\n        <path class=\"st12\" d=\"M416.8,482.2c0.1-0.1,0.2-0.1,0.3-0.2C417,482.1,416.9,482.1,416.8,482.2z\" />\n        <path class=\"st12\" d=\"M417.7,481.5c0,0,0.1-0.1,0.1-0.1C417.8,481.5,417.8,481.5,417.7,481.5z\" />\n        <path class=\"st12\" d=\"M417.4,481.8c0,0,0.1-0.1,0.1-0.1C417.5,481.7,417.4,481.8,417.4,481.8z\" />\n        <path class=\"st12\" d=\"M416.6,482.3c0.1,0,0.1-0.1,0.2-0.1C416.7,482.2,416.7,482.3,416.6,482.3z\" />\n        <path class=\"st12\" d=\"M418.4,464.9C418.4,464.9,418.4,465,418.4,464.9C418.4,465,418.4,464.9,418.4,464.9z\" />\n        <path class=\"st12\"\n            d=\"M423.7,464.7C423.7,464.7,423.7,464.8,423.7,464.7C423.7,464.8,423.7,464.7,423.7,464.7L423.7,464.7z\" />\n        <path class=\"st13\"\n            d=\"M414.9,465.4c0,2.4,0,4.8,0,7.1c0,0.7,0.3,1.2,0.8,1.6c1.3,0.8,1.8,2.1,1.5,3.6c-0.2,1.4-1.3,2.5-2.7,2.8     c-1.6,0.4-3.3-0.5-3.9-2c-0.7-1.5-0.2-3.4,1.1-4.3c0.1,0,0.1-0.1,0.2-0.1c0.6-0.3,0.8-0.8,0.8-1.4c0-4.8,0-9.7,0-14.5     c0-0.2,0-0.5,0.1-0.7c0.2-0.5,0.7-0.7,1.2-0.5c0.5,0.1,0.8,0.5,0.8,1.1C414.9,460.5,414.9,463,414.9,465.4z\" />\n        <text id=\"waterHeaterStatus\" class=\"st11\" x=\"413.6\" y=\"478.5\"\n            style=\"font-size:3.5px !important;text-anchor:middle !important;text-transform:uppercase !important;\"></text>\n    </g>\n    <g id=\"helios\">\n        <defs>\n            <polygon id=\"SVGID_6_\"\n                points=\"512.9,280.8 513,280.8 513,265 403.7,265 403.7,280.8 383.4,349.8 457.9,330.7 529.4,349.8\" />\n        </defs>\n        <clipPath id=\"SVGID_7_\">\n            <use xmlns:xlink=\"http://www.w3.org/1999/xlink\" xlink:href=\"#SVGID_6_\" style=\"overflow:visible;\" />\n        </clipPath>\n        <rect x=\"383.4\" y=\"349.5\" class=\"st26\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"349.2\" class=\"st26\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"348.8\" class=\"st27\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"348.5\" class=\"st27\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"348.1\" class=\"st28\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"347.8\" class=\"st29\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"347.4\" class=\"st29\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"347.1\" class=\"st30\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"346.7\" class=\"st31\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"346.4\" class=\"st31\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"346\" class=\"st32\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"345.7\" class=\"st33\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"345.3\" class=\"st34\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"345\" class=\"st35\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"344.6\" class=\"st36\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"344.3\" class=\"st37\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"343.9\" class=\"st37\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"343.6\" class=\"st38\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"343.2\" class=\"st39\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"342.9\" class=\"st40\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"342.5\" class=\"st41\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"342.2\" class=\"st42\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"341.8\" class=\"st43\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"341.5\" class=\"st44\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"341.1\" class=\"st44\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"340.8\" class=\"st45\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"340.4\" class=\"st46\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"340.1\" class=\"st47\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"339.7\" class=\"st47\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"339.4\" class=\"st48\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"339\" class=\"st49\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"338.7\" class=\"st50\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"338.3\" class=\"st50\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"338\" class=\"st51\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"337.6\" class=\"st52\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"337.3\" class=\"st53\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"336.9\" class=\"st54\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"336.6\" class=\"st55\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"336.2\" class=\"st56\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"335.9\" class=\"st56\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"335.5\" class=\"st57\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"335.2\" class=\"st58\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"334.8\" class=\"st59\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"334.5\" class=\"st59\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"334.1\" class=\"st60\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"333.8\" class=\"st61\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"333.4\" class=\"st62\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"333.1\" class=\"st62\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"332.7\" class=\"st63\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"332.4\" class=\"st64\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"332\" class=\"st65\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"331.7\" class=\"st65\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"331.3\" class=\"st66\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"331\" class=\"st67\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"330.6\" class=\"st68\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"330.3\" class=\"st69\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"329.9\" class=\"st70\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"329.6\" class=\"st71\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"329.2\" class=\"st72\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"328.9\" class=\"st73\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"328.5\" class=\"st74\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"328.2\" class=\"st74\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"327.8\" class=\"st75\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"327.5\" class=\"st76\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"327.1\" class=\"st77\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"326.8\" class=\"st78\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"326.4\" class=\"st79\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"326.1\" class=\"st79\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"325.7\" class=\"st80\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"325.4\" class=\"st81\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"325.1\" class=\"st82\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"324.7\" class=\"st83\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"324.4\" class=\"st84\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"324\" class=\"st84\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"323.7\" class=\"st85\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"323.3\" class=\"st86\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"323\" class=\"st87\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"322.6\" class=\"st88\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"322.3\" class=\"st89\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"321.9\" class=\"st89\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"321.6\" class=\"st90\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"321.2\" class=\"st91\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"320.9\" class=\"st92\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"320.5\" class=\"st93\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"320.2\" class=\"st94\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"319.8\" class=\"st94\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"319.5\" class=\"st95\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"319.1\" class=\"st96\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"318.8\" class=\"st97\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"318.4\" class=\"st98\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"318.1\" class=\"st99\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"317.7\" class=\"st99\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"317.4\" class=\"st100\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"317\" class=\"st101\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"316.7\" class=\"st102\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"316.3\" class=\"st103\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"316\" class=\"st104\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"315.6\" class=\"st105\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"315.3\" class=\"st105\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"314.9\" class=\"st106\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"314.6\" class=\"st107\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"314.2\" class=\"st108\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"313.9\" class=\"st109\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"313.5\" class=\"st110\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"313.2\" class=\"st111\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"312.8\" class=\"st112\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"312.5\" class=\"st112\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"312.1\" class=\"st113\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"311.8\" class=\"st114\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"311.4\" class=\"st115\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"311.1\" class=\"st116\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"310.7\" class=\"st117\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"310.4\" class=\"st118\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"310\" class=\"st119\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"309.7\" class=\"st120\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"309.3\" class=\"st121\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"309\" class=\"st122\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"308.6\" class=\"st123\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"308.3\" class=\"st124\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"307.9\" class=\"st125\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"307.6\" class=\"st126\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"307.2\" class=\"st127\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"306.9\" class=\"st128\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"306.5\" class=\"st129\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"306.2\" class=\"st130\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"305.8\" class=\"st131\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"305.5\" class=\"st132\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"305.1\" class=\"st133\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"304.8\" class=\"st134\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"304.4\" class=\"st134\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"304.1\" class=\"st135\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"303.7\" class=\"st136\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"303.4\" class=\"st137\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"303\" class=\"st138\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"302.7\" class=\"st139\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"302.3\" class=\"st140\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"302\" class=\"st141\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"301.6\" class=\"st142\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"301.3\" class=\"st143\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"300.9\" class=\"st144\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"300.6\" class=\"st145\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"300.2\" class=\"st146\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"299.9\" class=\"st147\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"299.5\" class=\"st148\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"299.2\" class=\"st149\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"298.9\" class=\"st150\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"298.5\" class=\"st151\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"298.2\" class=\"st152\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"297.8\" class=\"st153\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"297.5\" class=\"st154\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"297.1\" class=\"st155\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"296.8\" class=\"st156\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"296.4\" class=\"st157\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"296.1\" class=\"st158\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"295.7\" class=\"st159\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"295.4\" class=\"st160\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"295\" class=\"st161\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"294.7\" class=\"st162\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"294.3\" class=\"st163\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"294\" class=\"st164\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"293.6\" class=\"st165\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"293.3\" class=\"st166\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"292.9\" class=\"st167\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"292.6\" class=\"st168\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"292.2\" class=\"st169\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"291.9\" class=\"st170\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"291.5\" class=\"st171\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"291.2\" class=\"st172\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"290.8\" class=\"st173\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"290.5\" class=\"st174\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"290.1\" class=\"st175\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"289.8\" class=\"st176\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"289.4\" class=\"st177\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"289.1\" class=\"st178\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"288.7\" class=\"st179\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"288.4\" class=\"st180\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"288\" class=\"st181\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"287.7\" class=\"st182\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"287.3\" class=\"st183\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"287\" class=\"st184\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"286.6\" class=\"st185\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"286.3\" class=\"st186\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"285.9\" class=\"st187\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"285.6\" class=\"st188\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"285.2\" class=\"st189\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"284.9\" class=\"st190\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"284.5\" class=\"st191\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"284.2\" class=\"st192\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"283.8\" class=\"st193\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"283.5\" class=\"st194\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"283.1\" class=\"st195\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"282.8\" class=\"st196\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"282.4\" class=\"st197\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"282.1\" class=\"st198\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"281.7\" class=\"st199\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"281.4\" class=\"st200\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"281\" class=\"st201\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"280.7\" class=\"st202\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"280.3\" class=\"st203\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"280\" class=\"st204\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"279.6\" class=\"st205\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"279.3\" class=\"st206\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"278.9\" class=\"st207\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"278.6\" class=\"st208\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"278.2\" class=\"st209\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"277.9\" class=\"st210\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"277.5\" class=\"st211\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"277.2\" class=\"st212\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"276.8\" class=\"st213\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"276.5\" class=\"st214\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"276.1\" class=\"st215\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"275.8\" class=\"st216\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"275.4\" class=\"st217\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"275.1\" class=\"st218\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"274.7\" class=\"st219\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"274.4\" class=\"st220\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"274\" class=\"st221\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"273.7\" class=\"st222\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"273.3\" class=\"st223\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"273\" class=\"st224\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"272.7\" class=\"st225\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"272.3\" class=\"st226\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"272\" class=\"st227\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"271.6\" class=\"st228\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"271.3\" class=\"st229\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"270.9\" class=\"st230\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"270.6\" class=\"st231\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"270.2\" class=\"st232\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"269.9\" class=\"st233\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"269.5\" class=\"st234\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"269.2\" class=\"st235\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"268.8\" class=\"st236\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"268.5\" class=\"st237\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"268.1\" class=\"st238\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"267.8\" class=\"st239\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"267.4\" class=\"st239\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"267.1\" class=\"st239\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"266.7\" class=\"st239\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"266.4\" class=\"st239\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"266\" class=\"st239\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"265.7\" class=\"st239\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"265.3\" class=\"st239\" width=\"146\" height=\"0.3\" />\n        <rect x=\"383.4\" y=\"265\" class=\"st239\" width=\"146\" height=\"0.3\" />\n    </g>\n    <path class=\"st15\"\n        d=\"M403.7,280.8v-8.7c0-3.9,3.1-7,7-7H506c3.9,0,7,3.1,7,7v8.7h3v-8.7c0-5.5-4.5-10-10-10h-95.3   c-5.5,0-10,4.5-10,10v8.7H403.7z\" />\n    <path class=\"st11\"\n        d=\"M491.6,469c0-1.4,0.4-2.4,1.3-3.2c0.8-0.7,1.7-1.1,2.8-1.1c1.1,0,2.1,0.4,2.9,1.1c0.8,0.7,1.2,1.8,1.2,3.2     v6.6c0,1.4-0.4,2.4-1.2,3.2c-0.8,0.7-1.8,1.1-2.9,1.1c-1.1,0-2-0.4-2.8-1.1c-0.8-0.7-1.3-1.8-1.3-3.2V469z M497.8,469.1     c0-1.5-0.7-2.3-2.1-2.3c-1.3,0-2,0.8-2,2.3v6.4c0,1.5,0.7,2.3,2,2.3c1.3,0,2-0.8,2.1-2.3V469.1z\" />\n    <path class=\"st11\"\n        d=\"M505.7,479.4L505.7,479.4c0.3-0.4,0.5-1,0.5-1.5c0-0.7-0.2-1.3-0.7-1.8c-0.5-0.5-1-0.7-1.8-0.7    c-0.6,0-1.2,0.2-1.7,0.7c-0.4,0.5-0.7,1.1-0.7,1.8l0,0.3h1.6l0-0.3c0-0.3,0.1-0.5,0.3-0.6c0.1-0.1,0.3-0.2,0.5-0.2    c0.2,0,0.4,0.1,0.5,0.2c0.1,0.2,0.2,0.3,0.2,0.6c0,0.1,0,0.2,0,0.3c0,0.1-0.1,0.2-0.2,0.3l-2.9,3.8v1.4h4.8v-1.7h-2.5L505.7,479.4    z\" />\n    <g id=\"_x33_yJ1HH_4_\">\n        <path class=\"st11\"\n            d=\"M453.2,472.1c-1,1.9-1.5,4-1.5,6.2c0,2.3,0.5,4.3,1.5,6.2c-0.1,0-0.2,0.1-0.4,0.1c-0.9,0.2-1.7,0.3-2.6,0.3     c-0.1,0-0.3,0-0.4,0.2c-0.9,0.9-1.9,1.4-3.1,1.6c-0.6,0.1-1.2,0.1-1.7,0.1c-0.2,0-0.2-0.2-0.2-0.4c0.3-0.7,0.7-1.3,1.2-1.9     c0,0,0,0,0-0.1c0.1-0.1,0.1-0.2,0-0.3c-0.3-0.1-0.6-0.2-0.9-0.3c-1.9-0.8-3.7-1.9-5.5-3.2c-0.1-0.1-0.1-0.1-0.2-0.2     c-0.1,0-0.1,0-0.2,0c-1.2,1.6-2.7,2.5-4.4,3.3c-0.2,0.1-0.3,0.1-0.5,0.2c-0.1,0.1-0.2,0-0.2-0.2c0-1.5,0.4-2.9,1.2-4     c0.4-0.5,0.8-0.9,1.3-1.2c0.1,0,0.2-0.1,0.1-0.2c0-0.1-0.1-0.1-0.1-0.2c-0.3-0.2-0.6-0.4-0.8-0.6c-0.9-0.9-1.4-2.1-1.6-3.5     c0-0.3-0.1-0.7-0.1-1c0-0.2,0.1-0.3,0.3-0.3c1.6,0.6,3.1,1.5,4.3,2.8c0.2,0.2,0.3,0.4,0.5,0.6c0.1,0.1,0.1,0.1,0.2,0     c1.2-0.9,2.5-1.8,3.8-2.5c0.9-0.5,1.8-0.9,2.8-1.2c0.1,0,0.1-0.1,0.1-0.1c0,0,0-0.1-0.1-0.2c-0.5-0.5-0.9-1.2-1.2-1.9     c-0.1-0.3-0.1-0.4,0.2-0.4c1.4-0.1,2.8,0.2,4,1.1c0.3,0.2,0.5,0.5,0.8,0.7c0.1,0,0.1,0.1,0.2,0.1c0.7,0,1.4,0,2.2,0.2     C452.6,471.9,452.9,472,453.2,472.1z\" />\n        <path class=\"st11\"\n            d=\"M460.2,478.3c0,0.1,0,0.1-0.1,0.2c-0.4,1-0.9,1.8-1.5,2.5c-1.3,1.6-2.8,2.6-4.5,3.2c-0.1,0-0.1,0-0.1-0.1     c-0.8-1.5-1.4-3.1-1.5-4.9c-0.2-2.5,0.3-4.8,1.5-6.8c0-0.1,0.1-0.1,0.2-0.1c1.4,0.5,2.6,1.3,3.7,2.4c0.9,0.9,1.7,2,2.2,3.3     C460.2,478.2,460.2,478.2,460.2,478.3z M455.7,476.6c0-0.4-0.2-0.7-0.5-0.7c-0.3,0-0.5,0.3-0.5,0.7c0,0.4,0.2,0.7,0.5,0.7     C455.5,477.3,455.7,477,455.7,476.6z\" />\n    </g>\n    <g id=\"_x33_yJ1HH_3_\">\n        <path class=\"st11\"\n            d=\"M470.2,452.6c-1,1.9-1.5,4-1.5,6.2c0,2.3,0.5,4.3,1.5,6.2c-0.1,0-0.2,0.1-0.4,0.1c-0.9,0.2-1.7,0.3-2.6,0.3     c-0.1,0-0.3,0-0.4,0.2c-0.9,0.9-1.9,1.4-3.1,1.6c-0.6,0.1-1.2,0.1-1.7,0.1c-0.2,0-0.2-0.2-0.2-0.4c0.3-0.7,0.7-1.3,1.2-1.9     c0,0,0,0,0-0.1c0.1-0.1,0.1-0.2,0-0.3c-0.3-0.1-0.6-0.2-0.9-0.3c-1.9-0.8-3.7-1.9-5.5-3.2c-0.1-0.1-0.1-0.1-0.2-0.2     c-0.1,0-0.1,0-0.2,0c-1.2,1.6-2.7,2.5-4.4,3.3c-0.2,0.1-0.3,0.1-0.5,0.2c-0.1,0.1-0.2,0-0.2-0.2c0-1.5,0.4-2.9,1.2-4     c0.4-0.5,0.8-0.9,1.3-1.2c0.1,0,0.2-0.1,0.1-0.2c0-0.1-0.1-0.1-0.1-0.2c-0.3-0.2-0.6-0.4-0.8-0.6c-0.9-0.9-1.4-2.1-1.6-3.5     c0-0.3-0.1-0.7-0.1-1c0-0.2,0.1-0.3,0.3-0.3c1.6,0.6,3.1,1.5,4.3,2.8c0.2,0.2,0.3,0.4,0.5,0.6c0.1,0.1,0.1,0.1,0.2,0     c1.2-0.9,2.5-1.8,3.8-2.5c0.9-0.5,1.8-0.9,2.8-1.2c0.1,0,0.1-0.1,0.1-0.1c0,0,0-0.1-0.1-0.2c-0.5-0.5-0.9-1.2-1.2-1.9     c-0.1-0.3-0.1-0.4,0.2-0.4c1.4-0.1,2.8,0.2,4,1.1c0.3,0.2,0.5,0.5,0.8,0.7c0.1,0,0.1,0.1,0.2,0.1c0.7,0,1.4,0,2.2,0.2     C469.6,452.4,469.9,452.5,470.2,452.6z\" />\n        <path class=\"st11\"\n            d=\"M477.2,458.8c0,0.1,0,0.1-0.1,0.2c-0.4,1-0.9,1.8-1.5,2.5c-1.3,1.6-2.8,2.6-4.5,3.2c-0.1,0-0.1,0-0.1-0.1     c-0.8-1.5-1.4-3.1-1.5-4.9c-0.2-2.5,0.3-4.8,1.5-6.8c0-0.1,0.1-0.1,0.2-0.1c1.4,0.5,2.6,1.3,3.7,2.4c0.9,0.9,1.7,2,2.2,3.3     C477.1,458.6,477.2,458.7,477.2,458.8z M472.7,457.1c0-0.4-0.2-0.7-0.5-0.7c-0.3,0-0.5,0.3-0.5,0.7c0,0.4,0.2,0.7,0.5,0.7     C472.4,457.7,472.7,457.4,472.7,457.1z\" />\n    </g>\n    <g id=\"automationLoop\">\n        <path class=\"st1\"\n            d=\"M424.7,405.6c2-2.3,4.8-3.5,7.3-3.4c1.4,0.1,2.6,0.5,3.6,1.3l-0.7,0.2c-0.3,0.1-0.5,0.3-0.6,0.6    c-0.1,0.3,0,0.6,0.2,0.9l6.4,7.2c0.2,0.2,0.5,0.3,0.9,0.3c0.3-0.1,0.6-0.3,0.7-0.6l3-9.2c0.1-0.3,0-0.6-0.2-0.9    c-0.2-0.2-0.5-0.4-0.9-0.3c-0.3,0.1-0.5,0.1-0.8,0.2c-0.5,0.1-1,0.2-1.4,0.2c0,0-0.1,0-0.2-0.1c-4.1-5.1-9.4-6.7-15.4-4.7    c-2.7,0.9-4.8,2.6-6.5,5.1c-0.2,0.3-0.2,0.6-0.1,0.9c0.1,0.2,0.2,0.3,0.3,0.4l3.2,2.1C423.9,406,424.4,406,424.7,405.6z\" />\n        <path class=\"st0\"\n            d=\"M438.1,421.3c1.8-1,3.2-2.4,4.2-4.1c0.3-0.4,0.1-1-0.3-1.2l-3.2-2.1c-0.4-0.3-0.9-0.2-1.2,0.2    c-1.9,2.3-4.8,3.6-7.5,3.4c-1.3-0.1-2.5-0.5-3.4-1.3l0.8-0.2c0.3-0.1,0.5-0.3,0.6-0.6c0.1-0.3,0-0.6-0.2-0.9l-6.4-7.2    c-0.2-0.2-0.5-0.3-0.9-0.3c-0.3,0.1-0.6,0.3-0.7,0.6l-3,9.2c-0.1,0.2-0.1,0.4,0,0.6c0,0.1,0.1,0.2,0.2,0.2    c0.2,0.2,0.5,0.4,0.9,0.3c0.3,0,0.5-0.1,0.7-0.1c0.5-0.1,0.9-0.2,1.3-0.2c0.1,0,0.2,0,0.3,0.1    C424.9,423.4,431.8,424.8,438.1,421.3z\" />\n    </g>\n    <text id=\"waterflow\" class=\"st16\" x=\"474.5\" y=\"421.75\"></text>\n    <path class=\"st2\"\n        d=\"M475,417h0.7v4.1c0,0.2,0.1,0.2,0.3,0.2h0.2v0.7h-0.3c-0.3,0-0.5-0.1-0.6-0.2c-0.2-0.1-0.3-0.4-0.3-0.7V417z\" />\n    <path class=\"st2\" d=\"M478,417h0.5l-1.6,5.1h-0.5L478,417z\" />\n    <path class=\"st2\"\n        d=\"M479.1,418.5h0.7v0.4h0c0.2-0.3,0.5-0.4,0.9-0.4c0.2,0,0.4,0,0.6,0.1c0.1,0.1,0.3,0.2,0.4,0.3   c0.3-0.3,0.7-0.5,1.1-0.5c0.3,0,0.6,0.1,0.8,0.3c0.2,0.2,0.4,0.5,0.4,0.9v2.4h-0.7v-2.1c0-0.2-0.1-0.4-0.2-0.6   c-0.1-0.1-0.3-0.2-0.5-0.2c-0.2,0-0.4,0.1-0.5,0.2c-0.1,0.1-0.2,0.3-0.2,0.6v2.1h-0.7v-2.1c0-0.2-0.1-0.4-0.2-0.6   c-0.1-0.1-0.3-0.2-0.5-0.2c-0.2,0-0.4,0.1-0.5,0.2c-0.1,0.1-0.2,0.3-0.2,0.6v2.1h-0.7V418.5z\" />\n    <path class=\"st2\" d=\"M485.1,417h0.7v0.7h-0.7V417z M485.1,418.5h0.7v3.5h-0.7V418.5z\" />\n    <path class=\"st2\"\n        d=\"M486.7,418.5h0.7v0.4h0c0.2-0.3,0.5-0.4,0.9-0.4c0.3,0,0.5,0.1,0.8,0.3c0.2,0.2,0.4,0.5,0.4,0.9v2.4h-0.7v-2.1   c0-0.2-0.1-0.4-0.2-0.6c-0.1-0.1-0.3-0.2-0.5-0.2c-0.2,0-0.4,0.1-0.5,0.2c-0.1,0.1-0.2,0.3-0.2,0.6v2.1h-0.7V418.5z\" />\n    <text id=\"temperatureWater\" class=\"st16\" x=\"504.3\" y=\"421.75\"></text>\n    <path class=\"st2\"\n        d=\"M504.2,418.1c0-0.3,0.1-0.5,0.3-0.7c0.2-0.2,0.4-0.3,0.7-0.3c0.3,0,0.5,0.1,0.7,0.3c0.2,0.2,0.3,0.4,0.3,0.7   c0,0.3-0.1,0.5-0.3,0.7c-0.2,0.2-0.4,0.3-0.7,0.3c-0.3,0-0.5-0.1-0.7-0.3C504.3,418.6,504.2,418.3,504.2,418.1z M504.6,418.1   c0,0.2,0.1,0.3,0.2,0.5c0.1,0.1,0.3,0.2,0.4,0.2c0.2,0,0.3-0.1,0.5-0.2c0.1-0.1,0.2-0.3,0.2-0.5c0-0.2-0.1-0.3-0.2-0.5   c-0.1-0.1-0.3-0.2-0.5-0.2c-0.2,0-0.3,0.1-0.4,0.2C504.6,417.7,504.6,417.9,504.6,418.1z\" />\n    <path class=\"st2\"\n        d=\"M510.4,420.7c-0.1,0.5-0.3,0.8-0.6,1.1c-0.3,0.2-0.7,0.4-1.1,0.4c-0.4,0-0.7-0.1-0.9-0.3   c-0.3-0.2-0.4-0.4-0.6-0.6c0-0.1-0.1-0.1-0.1-0.2c0-0.1,0-0.2-0.1-0.3c0-0.2,0-0.6,0-1.2c0-0.6,0-1,0-1.2c0-0.2,0.1-0.4,0.2-0.5   c0.1-0.2,0.3-0.4,0.6-0.6c0.3-0.2,0.6-0.3,1-0.3c0.5,0,0.8,0.1,1.1,0.4c0.3,0.3,0.5,0.6,0.6,1h-0.8c-0.1-0.2-0.2-0.4-0.3-0.5   c-0.2-0.1-0.4-0.2-0.6-0.2c-0.2,0-0.3,0-0.4,0.1c-0.1,0.1-0.2,0.2-0.3,0.3c-0.1,0.1-0.2,0.2-0.2,0.4c0,0.2-0.1,0.5-0.1,1   c0,0.5,0,0.8,0.1,1c0,0.2,0.1,0.3,0.2,0.4c0.1,0.1,0.2,0.2,0.3,0.2c0.1,0.1,0.3,0.1,0.4,0.1c0.4,0,0.7-0.2,0.9-0.7H510.4z\" />\n    <text id=\"waterLevel\" class=\"st11\" x=\"504.3\" y=\"377\"></text>\n    <path class=\"st11\"\n        d=\"M504.3,368.9c0-0.4,0.1-0.8,0.4-1c0.2-0.2,0.5-0.3,0.8-0.3c0.3,0,0.6,0.1,0.8,0.3c0.2,0.2,0.3,0.5,0.4,1v0.9   c0,0.2,0,0.4-0.1,0.6c-0.1,0.2-0.1,0.3-0.3,0.4c-0.2,0.2-0.5,0.3-0.8,0.3c-0.3,0-0.6-0.1-0.8-0.3c-0.3-0.2-0.4-0.5-0.4-1V368.9z    M508.8,367.7h0.8l-4.4,9.3h-0.9L508.8,367.7z M505,369.7c0,0.4,0.2,0.6,0.5,0.6c0.3,0,0.5-0.2,0.5-0.6V369c0-0.4-0.2-0.6-0.5-0.6   c-0.3,0-0.5,0.2-0.5,0.6V369.7z M507.3,374.8c0-0.4,0.1-0.8,0.4-1c0.2-0.2,0.5-0.3,0.8-0.3c0.3,0,0.6,0.1,0.8,0.3   c0.2,0.2,0.3,0.5,0.4,1v0.9c0,0.2,0,0.4-0.1,0.6c-0.1,0.2-0.1,0.3-0.3,0.4c-0.2,0.2-0.5,0.3-0.8,0.3c-0.3,0-0.6-0.1-0.8-0.3   c-0.3-0.2-0.4-0.5-0.4-1V374.8z M508,375.6c0,0.4,0.2,0.6,0.5,0.6s0.5-0.2,0.5-0.6v-0.7c0-0.4-0.2-0.6-0.5-0.6s-0.5,0.2-0.5,0.6   V375.6z\" />\n    <path class=\"st11\"\n        d=\"M479.6,380.3h0.8l0.8,3.5h0l0.9-3.5h0.5l0.9,3.5h0l0.8-3.5h0.8l-1.2,5h-0.6l-0.9-3.6h0l-0.9,3.6h-0.6   L479.6,380.3z\" />\n    <path class=\"st11\"\n        d=\"M487.4,385L487.4,385c-0.1,0.1-0.2,0.2-0.3,0.3c-0.1,0.1-0.3,0.1-0.5,0.1c-0.4,0-0.7-0.1-0.9-0.3   c-0.2-0.2-0.3-0.5-0.3-0.8c0-0.3,0.1-0.5,0.3-0.7c0.2-0.2,0.5-0.3,0.8-0.3h1v-0.4c0-0.3-0.2-0.5-0.7-0.5c-0.2,0-0.3,0-0.4,0.1   c-0.1,0-0.2,0.1-0.2,0.2l-0.5-0.4c0.3-0.4,0.6-0.5,1.2-0.5c0.4,0,0.8,0.1,1,0.3c0.3,0.2,0.4,0.5,0.4,0.9v2.4h-0.7V385z    M487.4,383.8h-0.8c-0.4,0-0.6,0.2-0.6,0.4c0,0.1,0.1,0.2,0.2,0.3c0.1,0.1,0.3,0.1,0.5,0.1c0.3,0,0.5,0,0.6-0.1   c0.1-0.1,0.2-0.2,0.2-0.5V383.8z\" />\n    <path class=\"st11\"\n        d=\"M489.1,380.7h0.7v1.1h0.5v0.5h-0.5v2.1c0,0.2,0.1,0.3,0.2,0.3h0.3v0.7h-0.4c-0.2,0-0.4-0.1-0.6-0.2   c-0.2-0.1-0.2-0.4-0.2-0.6v-2.1h-0.3v-0.5h0.3V380.7z\" />\n    <path class=\"st11\"\n        d=\"M491.5,383.8c0,0.3,0.1,0.5,0.2,0.6c0.1,0.2,0.3,0.2,0.6,0.2c0.3,0,0.5-0.1,0.8-0.3l0.5,0.4   c-0.4,0.4-0.8,0.6-1.2,0.6c-0.2,0-0.4,0-0.5-0.1c-0.1,0-0.2-0.1-0.3-0.1c-0.1,0-0.2-0.1-0.2-0.2c-0.1-0.1-0.3-0.3-0.4-0.6   c-0.1-0.2-0.1-0.5-0.1-0.9c0-0.4,0-0.6,0.1-0.9c0.1-0.2,0.2-0.4,0.3-0.6c0.1-0.1,0.3-0.2,0.5-0.3c0.2-0.1,0.3-0.1,0.5-0.1   c0.4,0,0.7,0.1,1,0.4c0.3,0.3,0.4,0.6,0.4,1.1v0.6H491.5z M493,383.2c0-0.3-0.1-0.5-0.2-0.6c-0.1-0.1-0.3-0.2-0.5-0.2   c-0.2,0-0.4,0.1-0.5,0.2c-0.1,0.1-0.2,0.4-0.2,0.6H493z\" />\n    <path class=\"st11\"\n        d=\"M494.5,381.8h0.7v0.4h0c0.2-0.3,0.5-0.4,0.9-0.4c0.3,0,0.5,0.1,0.7,0.3l-0.5,0.6c-0.1-0.1-0.3-0.2-0.5-0.2   c-0.2,0-0.3,0.1-0.5,0.2c-0.1,0.1-0.2,0.3-0.2,0.6v2.1h-0.7V381.8z\" />\n    <path class=\"st11\"\n        d=\"M497.2,380.3h0.7v4.1c0,0.2,0.1,0.2,0.3,0.2h0.2v0.7h-0.3c-0.3,0-0.5-0.1-0.6-0.2c-0.2-0.1-0.3-0.4-0.3-0.7   V380.3z\" />\n    <path class=\"st11\"\n        d=\"M499.5,383.8c0,0.3,0.1,0.5,0.2,0.6c0.1,0.2,0.3,0.2,0.6,0.2c0.3,0,0.5-0.1,0.8-0.3l0.5,0.4   c-0.4,0.4-0.8,0.6-1.2,0.6c-0.2,0-0.4,0-0.5-0.1c-0.1,0-0.2-0.1-0.3-0.1c-0.1,0-0.2-0.1-0.2-0.2c-0.1-0.1-0.3-0.3-0.4-0.6   c-0.1-0.2-0.1-0.5-0.1-0.9c0-0.4,0-0.6,0.1-0.9c0.1-0.2,0.2-0.4,0.3-0.6c0.1-0.1,0.3-0.2,0.5-0.3c0.2-0.1,0.3-0.1,0.5-0.1   c0.4,0,0.7,0.1,1,0.4c0.3,0.3,0.4,0.6,0.4,1.1v0.6H499.5z M501,383.2c0-0.3-0.1-0.5-0.2-0.6c-0.1-0.1-0.3-0.2-0.5-0.2   s-0.4,0.1-0.5,0.2c-0.1,0.1-0.2,0.4-0.2,0.6H501z\" />\n    <path class=\"st11\" d=\"M502,381.8h0.7l0.8,2.5h0l0.8-2.5h0.7l-1.3,3.5h-0.6L502,381.8z\" />\n    <path class=\"st11\"\n        d=\"M506.1,383.8c0,0.3,0.1,0.5,0.2,0.6c0.1,0.2,0.3,0.2,0.6,0.2c0.3,0,0.5-0.1,0.8-0.3l0.5,0.4   c-0.4,0.4-0.8,0.6-1.2,0.6c-0.2,0-0.4,0-0.5-0.1c-0.1,0-0.2-0.1-0.3-0.1c-0.1,0-0.2-0.1-0.2-0.2c-0.1-0.1-0.3-0.3-0.4-0.6   c-0.1-0.2-0.1-0.5-0.1-0.9c0-0.4,0-0.6,0.1-0.9c0.1-0.2,0.2-0.4,0.3-0.6c0.1-0.1,0.3-0.2,0.5-0.3c0.2-0.1,0.3-0.1,0.5-0.1   c0.4,0,0.7,0.1,1,0.4c0.3,0.3,0.4,0.6,0.4,1.1v0.6H506.1z M507.5,383.2c0-0.3-0.1-0.5-0.2-0.6c-0.1-0.1-0.3-0.2-0.5-0.2   s-0.4,0.1-0.5,0.2c-0.1,0.1-0.2,0.4-0.2,0.6H507.5z\" />\n    <path class=\"st11\"\n        d=\"M509,380.3h0.7v4.1c0,0.2,0.1,0.2,0.3,0.2h0.2v0.7h-0.3c-0.3,0-0.5-0.1-0.6-0.2c-0.2-0.1-0.3-0.4-0.3-0.7   V380.3z\" />\n    <g id=\"DYfrfb.tif_1_\">\n        <path id=\"stateOkay\" class=\"st21\"\n            d=\"M479.9,409.2c-2.3,0.1-4.9-1.5-5.4-4.6c-0.4-2.9,1.6-5.6,4.5-6.1c2.5-0.4,5.3,1.2,6,3.9     c0.3,1.1,0.3,2.2-0.1,3.3c-0.4,1-1.1,1.9-2,2.6C482.1,408.9,481.1,409.2,479.9,409.2z M478.7,404.9c-0.4-0.5-0.9-0.9-1.3-1.3     c-0.3-0.4-0.8-0.3-1.2-0.4c-0.1,0-0.3,0.2-0.3,0.2c0.1,0.4-0.2,0.8,0.3,1.2c0.7,0.6,1.2,1.2,1.8,1.8c0.5,0.5,0.9,0.5,1.4,0     c1.3-1.3,2.7-2.7,4-4c0.1-0.1,0.2-0.1,0.2-0.2c0.2-0.3,0.2-0.6,0-0.9c-0.2-0.3-0.5-0.4-0.8-0.3c-0.2,0.1-0.4,0.2-0.6,0.4     C481.2,402.4,480,403.6,478.7,404.9z\" />\n        <path id=\"stateWarning\" class=\"st20\"\n            d=\"M498.1,403.8c0,3-2.4,5.3-5.3,5.3c-2.9,0-5.4-2.4-5.3-5.4c0.1-2.9,2.4-5.3,5.3-5.3     C495.7,398.5,498.1,400.9,498.1,403.8z M493.6,402c0-0.3,0-0.6,0-1c0-0.6-0.3-0.9-0.9-0.9c-0.5,0-0.9,0.4-0.9,0.9     c0,1,0.1,2,0.1,3c0,0.4,0.3,0.7,0.7,0.7c0.4,0,0.7-0.2,0.8-0.7C493.5,403.3,493.5,402.6,493.6,402z M493.6,406     c0-0.5-0.3-0.9-0.8-0.9c-0.5,0-0.9,0.3-0.9,0.8c0,0.5,0.3,0.9,0.8,0.9C493.2,406.9,493.6,406.5,493.6,406z\" />\n        <path id=\"stateError\" class=\"st22\"\n            d=\"M505.5,409.2c-3,0-5.4-2.4-5.4-5.4c0-2.9,2.5-5.4,5.4-5.4c2.5,0,5,2.2,5.2,4.2c0.2,2-0.1,3.6-1.5,5     C508.2,408.7,506.9,409.2,505.5,409.2z M505.5,405c0.5,0.6,1,1.1,1.5,1.5c0.4,0.4,1,0.4,1.3,0c0.3-0.4,0.2-1-0.2-1.4     c-0.5-0.4-1-0.8-1.5-1.3c0.6-0.6,1.1-1,1.6-1.6c0.5-0.5,0.3-1.3-0.4-1.4c-0.3,0-0.6,0.1-0.8,0.3c-0.5,0.5-1,1-1.6,1.5     c-0.5-0.5-1-1.1-1.6-1.6c-0.5-0.5-1.2-0.3-1.4,0.3c-0.1,0.4,0,0.7,0.3,0.9c0.5,0.5,1,1,1.5,1.5c-0.5,0.5-1,1-1.5,1.5     c-0.4,0.4-0.4,0.8-0.1,1.2c0.3,0.4,0.9,0.4,1.3,0C504.5,406.1,504.9,405.5,505.5,405z\" />\n    </g>\n</svg>","clickableShapes":[{"targetId":"#helios","action":"click","payload":"helios","payloadType":"str","topic":"#heliosa"},{"targetId":"#fillPlantTank","action":"click","payload":"fillPlantTank","payloadType":"str","topic":""},{"targetId":"#automationLoop","action":"click","payload":"automationLoop","payloadType":"str","topic":""},{"targetId":"#emptyPlantTank","action":"click","payload":"emptyPlantTank","payloadType":"str","topic":""},{"targetId":"#waterHeater","action":"click","payload":"waterHeater","payloadType":"str","topic":""}],"javascriptHandlers":[],"smilAnimations":[],"bindings":[{"selector":"#helios","bindSource":"switch.edward_prototype_v2_plant_sun_light","bindType":"attr","attribute":"data-active"},{"selector":"#fillPlantTank","bindSource":"sensor.edward_prototype_v2_plant_tank_level","bindType":"attr","attribute":"data-active"},{"selector":"#emptyPlantTank","bindSource":"sensor.edward_prototype_v2_plant_tank_level","bindType":"attr","attribute":"data-active"},{"selector":"#automationLoop","bindSource":"switch.edward_prototype_v2_automatic_cycling_loop","bindType":"attr","attribute":"data-active"},{"selector":"#waterLevel","bindSource":"waterPercentage","bindType":"text","attribute":""},{"selector":"#waterflow","bindSource":"sensor.edward_prototype_v2_water_flow_to_plants","bindType":"text","attribute":""},{"selector":"#temperatureWater","bindSource":"sensor.temp_logger_ds18b20_temperature_logger","bindType":"text","attribute":""},{"selector":"#waterHeaterStatus","bindSource":"switch.edward_prototype_v2_fish_water_heater","bindType":"text","attribute":""},{"selector":"#stateOkay","bindSource":"status","bindType":"attr","attribute":"data-status"},{"selector":"#stateWarning","bindSource":"status","bindType":"attr","attribute":"data-status"},{"selector":"#stateError","bindSource":"status","bindType":"attr","attribute":"data-status"}],"showCoordinates":false,"autoFormatAfterEdit":false,"showBrowserErrors":false,"showBrowserEvents":false,"enableJsDebugging":false,"sendMsgWhenLoaded":false,"noClickWhenDblClick":false,"outputField":"payload","editorUrl":"//drawsvg.org/drawsvg.html","directory":"","panning":"disabled","zooming":"disabled","panOnlyWhenZoomed":false,"doubleClickZoomEnabled":false,"mouseWheelZoomEnabled":false,"dblClickZoomPercentage":150,"cssString":"div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}","name":"Edward Floorplan","x":610,"y":520,"wires":[["f403c714d4b2229b"]],"icon":"font-awesome/fa-file-image-o","info":"[https://github.com/bartbutenaers/node-red-contrib-ui-svg/]()"},{"id":"a6c68d5f5ffdbc06","type":"ui_template","z":"4f78ce2c24f810f8","group":"","name":"General CSS","order":1,"width":0,"height":0,"format":"<style>\n    .masonry-container, ui-card-panel > div, ui-card-panel:first-child > div > div {\n        height: 100% !important;\n        min-height: unset !important;\n        max-height: unset !important;\n    }\n    \n    ui-card-panel {\n        height: calc(100% - 14px) !important;\n    }\n    \n    ui-card-panel:first-child > div {\n        display: flex !important;\n        flex-direction: column !important;\n    }\n\n    .nr-dashboard-cardpanel > p {\n        margin-right: 12px!important;\n        text-align: center!important;\n    }\n    \n    ui-card-panel:first-child > div > div {\n        flex-grow: 1 !important;\n    }\n\n    ui-card-panel:first-child > div > div > md-card {\n        height: auto !important;\n    }\n\n    div.ui-svg {\n        display: grid !important;\n        place-items: center !important;\n    }\n\n    div.ui-svg svg {\n        max-height: 100% !important;\n    }\n\n    .plant-tank-level-chart {\n        position: relative !important;\n    }\n\n    .plant-tank-level-chart::before, .plant-tank-level-chart::after {\n        content: \"Full\" !important;\n        position: absolute !important;\n        top: 20% !important;\n        left: 0 !important;\n        bottom: 15% !important;\n        width: 12% !important;\n        font-size: 75% !important;\n        text-align: right !important;\n        background-color: white !important;\n        user-select: none !important;\n    }\n\n    .plant-tank-level-chart::after {\n        content: \"Empty\" !important;\n        top: unset !important;\n        bottom: 17% !important;\n    }\n\n    .security:fullscreen {\n        background-color: white !important;\n    }\n\n    .security:fullscreen .nr-dashboard-cardcontainer > :not(.camera-stream):not(.camera-stream-controls) {\n        display: none !important;\n    }\n\n    .security:fullscreen > * {\n        width: 100% !important;\n        height: auto !important;\n    }\n\n    .camera-stream {\n        width: 100% !important;\n        height: unset !important;\n    }\n\n    .security:fullscreen .camera-stream img {\n        max-height: calc(100vh - 7em) !important;\n        cursor: zoom-out !important;\n    }\n\n    .camera-stream img {\n        aspect-ratio: 3/2 !important;\n        object-fit: contain !important;\n        background-color: #EEE !important;\n        cursor: zoom-in !important;\n    }\n\n    .camera-stream-controls {\n        display: flex !important;\n        flex-direction: row !important;\n        justify-content: center !important;\n        gap: .5em !important;\n        width: calc(100% - 12px) !important;\n        height: auto !important;\n        padding: 0 !important;\n        margin: 0 6px !important;\n        background-color: var(--nr-dashboard-pageTitlebarBackgroundColor, #0003) !important;\n        overflow: hidden !important;\n    }\n\n    .security:fullscreen .camera-stream-controls {\n        position: fixed !important;\n        top: unset !important;\n        bottom: 6px !important;\n    }\n\n    .camera-stream-controls button {\n        position: relative !important;\n        width: 2em !important;\n        height: 2em !important;\n        color: transparent !important;\n        overflow: hidden !important;\n        border: none !important;\n        border-radius: 0 !important;\n        background-color: #0000 !important;\n        transition: background-color .3s !important;\n        user-select: none !important;\n    }\n\n    .camera-stream-controls button:hover {\n        background-color: #0003 !important;\n    }\n    \n    .camera-stream-controls button::before {\n        content: attr(data-content) !important;\n        position: absolute !important;\n        top: 0 !important;\n        left: 0 !important;\n        right: 0 !important;\n        bottom: 0 !important;\n        display: grid !important;\n        place-items: center !important;\n        color: white !important;\n        line-height: 1em !important;\n        font-weight: bold !important;\n        user-select: none !important;\n    }\n\n    .log {\n        height: 5em !important;\n        overflow-y: auto !important;\n    }\n\n    .log > p {\n        font-weight: bold !important;\n    }\n\n    .settings .nr-dashboard-cardcontainer {\n        width: auto !important;\n        height: auto !important;\n        flex-grow: 1 !important;\n    }\n\n    .settings .nr-dashboard-cardcontainer > md-card {\n        width: 100% !important;\n        height: auto !important;\n    }\n\n    .plant-light-time-text .label {\n        margin: revert !important;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","className":"","x":110,"y":120,"wires":[[]],"icon":"node-red-contrib-home-assistant-websocket/ha-render-template.svg"},{"id":"7efa071e29eb97a4","type":"api-call-service","z":"4f78ce2c24f810f8","name":"Toogle Plant Sun Light","server":"e9f9229c.d8b86","version":5,"debugenabled":false,"domain":"switch","service":"toggle","areaId":[],"deviceId":[],"entityId":["switch.edward_prototype_v2_plant_sun_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1060,"y":400,"wires":[[]]},{"id":"31d441585debf950","type":"poll-state","z":"4f78ce2c24f810f8","name":"Ambient Light Sensor","server":"e9f9229c.d8b86","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"1","updateIntervalType":"num","updateIntervalUnits":"minutes","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.edward_prototype_v2_ambient_light","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":140,"y":920,"wires":[["65a6588ae0834d46"]]},{"id":"65a6588ae0834d46","type":"ui_chart","z":"4f78ce2c24f810f8","name":"","group":"ac18d69912335410","order":1,"width":0,"height":0,"label":"Ambient Light (1h)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":630,"y":920,"wires":[[]]},{"id":"f403c714d4b2229b","type":"switch","z":"4f78ce2c24f810f8","name":"Click","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"helios","vt":"str"},{"t":"eq","v":"fillPlantTank","vt":"str"},{"t":"eq","v":"emptyPlantTank","vt":"str"},{"t":"eq","v":"automationLoop","vt":"str"},{"t":"eq","v":"waterHeater","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":810,"y":520,"wires":[["7efa071e29eb97a4"],["87ade8070881b0af"],["8567631e0b1c7d3e"],["f4ed9b5dfa8d5a73"],["084640092e0a4913"]]},{"id":"87ade8070881b0af","type":"api-call-service","z":"4f78ce2c24f810f8","name":"Fill Plant Tank","server":"e9f9229c.d8b86","version":5,"debugenabled":false,"domain":"button","service":"press","areaId":[],"deviceId":[],"entityId":["button.edward_prototype_v2_fill_plant_tank"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1040,"y":460,"wires":[[]]},{"id":"8567631e0b1c7d3e","type":"api-call-service","z":"4f78ce2c24f810f8","name":"Empty Plant Tank","server":"e9f9229c.d8b86","version":5,"debugenabled":false,"domain":"button","service":"press","areaId":[],"deviceId":[],"entityId":["button.edward_prototype_v2_empty_plant_tank"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1050,"y":520,"wires":[[]]},{"id":"f4ed9b5dfa8d5a73","type":"api-call-service","z":"4f78ce2c24f810f8","name":"Toogle Automation Loop","server":"e9f9229c.d8b86","version":5,"debugenabled":false,"domain":"switch","service":"toggle","areaId":[],"deviceId":[],"entityId":["switch.edward_prototype_v2_automatic_cycling_loop"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1070,"y":580,"wires":[[]]},{"id":"084640092e0a4913","type":"api-call-service","z":"4f78ce2c24f810f8","name":"Toogle Water Heater","server":"e9f9229c.d8b86","version":5,"debugenabled":false,"domain":"switch","service":"toggle","areaId":[],"deviceId":[],"entityId":["switch.edward_prototype_v2_fish_water_heater"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1060,"y":640,"wires":[[]]},{"id":"63ce1b301393a20c","type":"function","z":"4f78ce2c24f810f8","name":"Databind","func":"function recursiveKeyObjectCreation(keyStr, val) {\n    var obj = {};\n\n    if (keyStr.includes(\".\")) {\n        var key = keyStr.substring(0, keyStr.indexOf(\".\"));\n        var rest = keyStr.substring(keyStr.indexOf(\".\") + 1);\n        \n        obj[key] = recursiveKeyObjectCreation(rest, val);\n    } else {\n        obj[keyStr] = (isNaN(val)) ? val : parseInt(val);\n    }\n    \n    return obj;\n}\n\nif (msg.topic = \"sensor.edward_prototype_v2_plant_water_flow_mass\") {\n    var obj = { \"waterPercentage\": Math.round(msg.payload / msg.maxWater * 100) };\n} else {\n    var obj = recursiveKeyObjectCreation(msg.topic, msg.payload);\n}\n\nobj.topic = \"databind\";\nobj.payload = {};\n\nif (!obj.hasOwnProperty(\"waterPercentage\") || !isNaN(obj.waterPercentage)) return obj;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":520,"wires":[["00ea2f9b558a3805"]]},{"id":"72920ea6c4483d2c","type":"poll-state","z":"4f78ce2c24f810f8","name":"Plant Tank Level","server":"e9f9229c.d8b86","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"1","updateIntervalType":"num","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.edward_prototype_v2_plant_tank_level","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":120,"y":1020,"wires":[["345d11851cfe57a0"]]},{"id":"8e295a9da27d9b59","type":"ui_chart","z":"4f78ce2c24f810f8","name":"","group":"ac18d69912335410","order":2,"width":0,"height":0,"label":"Plant Tank Level (1h)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"plant-tank-level-chart","x":640,"y":1020,"wires":[[]]},{"id":"345d11851cfe57a0","type":"function","z":"4f78ce2c24f810f8","name":"Plant Tank Level - to nbr","func":"if (msg.payload == \"EMPTY\" || msg.payload == \"FULL\") {\n    msg.payload = (msg.payload == \"EMPTY\") ? 0 : 1;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":1020,"wires":[["8e295a9da27d9b59"]]},{"id":"d852cb5204927aed","type":"inject","z":"4f78ce2c24f810f8","name":"Reset Diagram","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":400,"y":1060,"wires":[["8e295a9da27d9b59"]],"icon":"node-red/alert.svg"},{"id":"3b7681e53708d13d","type":"inject","z":"4f78ce2c24f810f8","name":"Reset Diagram","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":400,"y":960,"wires":[["65a6588ae0834d46"]],"icon":"node-red/alert.svg"},{"id":"71cdad1112612c60","type":"onvif-media","z":"4f78ce2c24f810f8","name":"RTSP Snapshot","deviceConfig":"e537fd3e96219fd8","profileToken":"","profileName":"Profile000_MainStream","videoEncoderConfigToken":"","videoEncoderConfigName":"","videoEncoderConfigEncoding":"","action":"getSnapshot","protocol":"RTSP","stream":"RTP-Multicast","x":340,"y":1220,"wires":[["ea05539e69a6f9f3"]],"icon":"font-awesome/fa-file-image-o"},{"id":"e0915073f3e58c53","type":"ui_template","z":"4f78ce2c24f810f8","group":"bd14d2bc8e27db66","name":"Stream","order":1,"width":0,"height":0,"format":"<img alt=\"Camera stream\" src=\"data:image/jpg;base64,{{msg.payload}}\" onclick=\"toggleFullscreenOnElement(document.getElementsByClassName('security')[0]);\">","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"camera-stream","x":760,"y":1220,"wires":[["71cdad1112612c60"]]},{"id":"ea05539e69a6f9f3","type":"base64","z":"4f78ce2c24f810f8","name":"Base64 Encode","action":"str","property":"payload","x":560,"y":1220,"wires":[["e0915073f3e58c53"]]},{"id":"fc7e595b040b73b4","type":"ui_ui_control","z":"4f78ce2c24f810f8","name":"Automatic Start","events":"all","x":120,"y":1220,"wires":[["71cdad1112612c60"]],"icon":"font-awesome/fa-play"},{"id":"75988e21afcae323","type":"ui_template","z":"4f78ce2c24f810f8","group":"bd14d2bc8e27db66","name":"Stream Controls","order":2,"width":0,"height":0,"format":"<button ng-click=\"send({tilt_speed: .2, action: 'continuousMove'});\" data-content=\"\">UP</button>\n<button ng-click=\"send({pan_speed: -.1, action: 'continuousMove'});\" data-content=\"\">LEFT</button>\n<button ng-click=\"send({pan_speed: .1, action: 'continuousMove'});\" data-content=\"\">RIGHT</button>\n<button ng-click=\"send({tilt_speed: -.2, action: 'continuousMove'});\" data-content=\"\">DOWN</button>\n\n<button ng-click=\"send({zoom_speed: 1, action: 'continuousMove'});\" data-content=\"+\">ZOOM IN</button>\n<button ng-click=\"send({zoom_speed: -1, action: 'continuousMove'});\" data-content=\"-\">ZOOM OUT</button>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"camera-stream-controls","x":120,"y":1300,"wires":[["284f26b96a4bf22d","f0ec4889020d28ab"]]},{"id":"284f26b96a4bf22d","type":"onvif-ptz","z":"4f78ce2c24f810f8","name":"ONVIF PTZ","deviceConfig":"e537fd3e96219fd8","profileName":"","action":"","panSpeed":"0","tiltSpeed":0,"zoomSpeed":0,"panPosition":0,"tiltPosition":0,"zoomPosition":0,"panTranslation":0,"tiltTranslation":0,"zoomTranslation":0,"time":1,"preset":"","presetName":"","stopPanTilt":true,"stopZoom":true,"configurationToken":"","x":670,"y":1300,"wires":[[]]},{"id":"f0ec4889020d28ab","type":"delay","z":"4f78ce2c24f810f8","name":"500ms","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":310,"y":1340,"wires":[["549e84c027354941"]]},{"id":"549e84c027354941","type":"change","z":"4f78ce2c24f810f8","name":"Stop PTZ","rules":[{"t":"set","p":"action","pt":"msg","to":"stop","tot":"str"},{"t":"set","p":"stopPanTilt","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"stopZoom","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1340,"wires":[["284f26b96a4bf22d"]],"icon":"font-awesome/fa-hand-stop-o"},{"id":"ba65475425791ca6","type":"ui_svg_graphics","z":"4f78ce2c24f810f8","group":"35cce126e5fae31b","order":3,"width":0,"height":0,"svgString":"<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"-5 0 110 50\">\n    <style>\n        #low-high-tide-path {\n            fill: transparent !important;\n            stroke: #1f77b4 !important;\n            stroke-width: 1px !important;\n        }\n        .text {\n            text-anchor: start !important;\n            alignment-baseline: middle !important;\n            color: black !important;\n            font-size: 5px !important;\n            font-weight: normal !important;\n            font-family: 'DINAlternate-Bold', Roboto, monospace !important;\n        }\n        .text.middle {\n            text-anchor: middle !important;\n        }\n    </style>\n    <path d=\"M -5 10 L 0 10 L 5 40 L 50 40 L 60 10 L 95 10 L 100 40 L 105 40\" id=\"low-high-tide-path\"/>\n\n    <text x=\"10\" y=\"25\" class=\"text\" id=\"toLowTideTime\"></text>\n    <text x=\"35\" y=\"45\" class=\"text middle\" id=\"lowTideTime\"></text>\n    <text x=\"68\" y=\"25\" class=\"text\" id=\"toHighTideTime\"></text>\n    <text x=\"80\" y=\"05\" class=\"text middle\" id=\"highTideTime\"></text>\n</svg>","clickableShapes":[],"javascriptHandlers":[{"selector":"","action":"msg","sourceCode":"// Set new values\nif (msg.payload.hasOwnProperty(\"toLowTideTime\"))    lowHighTideTimes.toLowTideTime  = msg.payload.toLowTideTime;\nif (msg.payload.hasOwnProperty(\"lowTideTime\"))      lowHighTideTimes.lowTideTime    = msg.payload.lowTideTime * 60; // min -> sec\nif (msg.payload.hasOwnProperty(\"toHighTideTime\"))   lowHighTideTimes.toHighTideTime = msg.payload.toHighTideTime;\nif (msg.payload.hasOwnProperty(\"highTideTime\"))     lowHighTideTimes.highTideTime   = msg.payload.highTideTime * 60; // min -> sec\n\n// Calculate the sum = 100%\nvar timeSum = Object.values(lowHighTideTimes).reduce((a, b) => a + b, 0) + lowHighTideTimes.toLowTideTime;\n\n// Calculate the % of these tides\nvar toLowTide   = lowHighTideTimes.toLowTideTime    / timeSum * 100;\nvar lowTide     = lowHighTideTimes.lowTideTime      / timeSum * 100;\nvar highTide    = lowHighTideTimes.highTideTime     / timeSum * 100;\nvar toHighTide  = lowHighTideTimes.toHighTideTime   / timeSum * 100;\n\n// Calculate the x positions for the path (This path goes from x: 0-100)\nvar lowTideX    = lowTide + toLowTide;\nvar toHighTideX = toHighTide + lowTideX;\nvar highTideX   = highTide + toHighTideX;\n\n// Set the new path\nvar path = \"M -5 10 L 0 10 L \" + toLowTide + \" 40 L \" + lowTideX + \" 40 L \" + toHighTideX + \" 10 L \" + highTideX + \" 10 L 100 40 L 105 40\";\ndocument.getElementById(\"low-high-tide-path\").setAttribute(\"d\", path);\n\n// Calculate the x positions for the texts\nvar toLowTideTextX  = toLowTide / 2 + 1;\nvar lowTideTextX    = toLowTide + (lowTide / 2);\nvar toHighTideTextX = lowTideX + (toHighTide / 2) + 1;\nvar highTideTextX   = toHighTideX + (highTide / 2);\n\n// Set the new text positions\ndocument.getElementById(\"toLowTideTime\").setAttribute(\"x\", toLowTideTextX);\ndocument.getElementById(\"lowTideTime\").setAttribute(\"x\", lowTideTextX);\ndocument.getElementById(\"toHighTideTime\").setAttribute(\"x\", toHighTideTextX);\ndocument.getElementById(\"highTideTime\").setAttribute(\"x\", highTideTextX);\n\n// Set text values\nvar time = new Date(0); time.setSeconds(lowHighTideTimes.toLowTideTime);\ndocument.getElementById(\"toLowTideTime\").innerHTML = time.toISOString().substring(14, 19) + \"min\";\n\ntime = new Date(0); time.setSeconds(lowHighTideTimes.lowTideTime / 60);\ndocument.getElementById(\"lowTideTime\").innerHTML = time.toISOString().substring(14, 19) + \"h\";\n\ntime = new Date(0); time.setSeconds(lowHighTideTimes.toHighTideTime);\ndocument.getElementById(\"toHighTideTime\").innerHTML = time.toISOString().substring(14, 19) + \"min\";\n\ntime = new Date(0); time.setSeconds(lowHighTideTimes.highTideTime / 60);\ndocument.getElementById(\"highTideTime\").innerHTML = time.toISOString().substring(14, 19) + \"h\";"}],"smilAnimations":[],"bindings":[],"showCoordinates":false,"autoFormatAfterEdit":false,"showBrowserErrors":false,"showBrowserEvents":false,"enableJsDebugging":false,"sendMsgWhenLoaded":false,"noClickWhenDblClick":false,"outputField":"payload","editorUrl":"//drawsvg.org/drawsvg.html","directory":"","panning":"disabled","zooming":"disabled","panOnlyWhenZoomed":false,"doubleClickZoomEnabled":false,"mouseWheelZoomEnabled":false,"dblClickZoomPercentage":150,"cssString":"div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}","name":"Low/High Tide","x":560,"y":1700,"wires":[[]],"icon":"font-awesome/fa-file-image-o","info":"[https://github.com/bartbutenaers/node-red-contrib-ui-svg/]()"},{"id":"75560c24d7ef9263","type":"ui_template","z":"4f78ce2c24f810f8","group":"","name":"General JavaScript","order":0,"width":0,"height":0,"format":"<script>\n    function toggleFullscreenOnElement(element) {\n        if (!document.fullscreenElement) element.requestFullscreen();\n        else document.exitFullscreen();\n    }\n\n    // Global variables\n    var lowHighTideTimes = {\n        toLowTideTime: 0,\n        lowTideTime: 0,\n        toHighTideTime: 0,\n        highTideTime: 0\n    };\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","className":"","x":330,"y":120,"wires":[[]],"icon":"node-red-contrib-home-assistant-websocket/ha-render-template.svg"},{"id":"68833434006cfab3","type":"ui_numeric","z":"4f78ce2c24f810f8","name":"","label":"Low Tide Time (min)","tooltip":"","group":"35cce126e5fae31b","order":1,"width":0,"height":0,"wrap":true,"passthru":false,"topic":"","topicType":"str","format":"{{value}}","min":"10","max":"1440","step":"5","className":"","x":400,"y":1780,"wires":[["b24dbb9151da3e45"]]},{"id":"0809225946d5ae89","type":"function","z":"4f78ce2c24f810f8","name":"Databind","func":"var obj = {\n    topic: 'custom_msg',\n    payload: {}\n};\n\nobj.payload[msg.topic] = parseInt(msg.payload);\n\nreturn obj;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1700,"wires":[["ba65475425791ca6"]]},{"id":"6144b6f24819e68a","type":"ui_numeric","z":"4f78ce2c24f810f8","name":"","label":"High Tide Time (min)","tooltip":"","group":"35cce126e5fae31b","order":2,"width":0,"height":0,"wrap":true,"passthru":false,"topic":"","topicType":"str","format":"{{value}}","min":"5","max":"60","step":"5","className":"","x":400,"y":1860,"wires":[["3667ba950b39b0db"]]},{"id":"b24dbb9151da3e45","type":"api-call-service","z":"4f78ce2c24f810f8","name":"Set Low Tide Time","server":"e9f9229c.d8b86","version":5,"debugenabled":false,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.edward_prototype_v2_plants_low_tide_time"],"data":"{\"value\": msg.payload}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"last","x":650,"y":1780,"wires":[[]]},{"id":"3667ba950b39b0db","type":"api-call-service","z":"4f78ce2c24f810f8","name":"Set HighTide Time","server":"e9f9229c.d8b86","version":5,"debugenabled":false,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.edward_prototype_v2_plants_high_tide_time"],"data":"{\"value\": msg.payload}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"last","x":650,"y":1860,"wires":[[]]},{"id":"86be4d836a3debb7","type":"ui_numeric","z":"4f78ce2c24f810f8","name":"","label":"Plant Light Time - On (min)","tooltip":"","group":"35cce126e5fae31b","order":4,"width":0,"height":0,"wrap":true,"passthru":false,"topic":"","topicType":"str","format":"{{value}}","min":"0","max":"1425","step":"15","className":"","x":440,"y":1960,"wires":[["3263f5d337641c85"]]},{"id":"3263f5d337641c85","type":"api-call-service","z":"4f78ce2c24f810f8","name":"Set Plant Light On Time","server":"e9f9229c.d8b86","version":5,"debugenabled":false,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.edward_prototype_v2_plants_sun_light_on_time"],"data":"{\"value\": msg.payload}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"last","x":730,"y":1960,"wires":[[]]},{"id":"76eb3551e14996ee","type":"ui_numeric","z":"4f78ce2c24f810f8","name":"","label":"Plant Light Time - Off (min)","tooltip":"","group":"35cce126e5fae31b","order":5,"width":0,"height":0,"wrap":true,"passthru":false,"topic":"","topicType":"str","format":"{{value}}","min":"0","max":"1425","step":"15","className":"","x":440,"y":2080,"wires":[["6fb783e20e2db8a2"]]},{"id":"6fb783e20e2db8a2","type":"api-call-service","z":"4f78ce2c24f810f8","name":"Set Plant Light Off Time","server":"e9f9229c.d8b86","version":5,"debugenabled":false,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.edward_prototype_v2_plants_sun_light_off_time"],"data":"{\"value\": msg.payload}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"last","x":730,"y":2080,"wires":[[]]},{"id":"488a4af5a14c4d45","type":"ui_text","z":"4f78ce2c24f810f8","group":"35cce126e5fae31b","order":6,"width":0,"height":0,"name":"Plant Light Time Text","label":"Plant Light Time","format":"{{msg.payload}}","layout":"row-spread","className":"plant-light-time-text","x":720,"y":2020,"wires":[]},{"id":"b5ebbb390019d0a2","type":"function","z":"4f78ce2c24f810f8","name":"Create Plant Light Time Text","func":"context.set(msg.topic, msg.payload);\n\nvar onTime = new Date((context.get('plantLightTimeOn') | 0) * 1000); // (We treat the minutes as seconds) s -> ms\nvar offTime = new Date((context.get('plantLightTimeOff') | 0) * 1000); // (We treat the minutes as seconds) s -> ms\n\nreturn {\n    \"payload\": onTime.toISOString().substring(14, 19) + \" - \" + offTime.toISOString().substring(14, 19)\n};","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\n","finalize":"","libs":[],"x":440,"y":2020,"wires":[["488a4af5a14c4d45"]]},{"id":"52f9014635440694","type":"comment","z":"4f78ce2c24f810f8","name":" Head ","info":"","x":440,"y":60,"wires":[]},{"id":"747221110b5910a3","type":"comment","z":"4f78ce2c24f810f8","name":" Floorplan ","info":"","x":440,"y":220,"wires":[]},{"id":"c2d1aec97933742b","type":"comment","z":"4f78ce2c24f810f8","name":" Charts ","info":"","x":440,"y":860,"wires":[]},{"id":"8f31e06c85b24f2a","type":"comment","z":"4f78ce2c24f810f8","name":"- Security -","info":"","x":440,"y":1160,"wires":[]},{"id":"43d7dab2297ba038","type":"comment","z":"4f78ce2c24f810f8","name":"- Settings -","info":"","x":440,"y":1560,"wires":[]},{"id":"8f37547ccaa11d90","type":"ui_template","z":"4f78ce2c24f810f8","group":"bd14d2bc8e27db66","name":"Log","order":3,"width":0,"height":0,"format":"<p>Log</p>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"log","x":490,"y":1420,"wires":[[]]},{"id":"0771d457191a815d","type":"function","z":"4f78ce2c24f810f8","name":"Combine Logs","func":"if (msg.topic == \"CLEAR\") {\n    context.set('logs', []);\n    \n    return [{\n        \"payload\": \"\"\n    }, {\n        \"topic\": \"status\",\n        \"payload\": \"OKAY\"\n    }];\n} else if (msg.payload != \"unknown\" && msg.payload != \"unavailable\") {\n    // Get global logs variable\n    var logs = context.get('logs') || [];\n\n    // Add log to \"logs\" array\n    logs.push(msg.payload);\n    context.set('logs', logs);\n    \n    // Get status\n    // Message example: \"[STATUS] MESSAGE...\"\n    var status = msg.payload.slice(1, msg.payload.indexOf(\"]\"));\n\n    // Generate HTML from array\n    return [{\n        \"payload\": \"<p>\" + logs.join(\"</p><p>\") + \"</p>\"\n    }, {\n        \"topic\": \"status\",\n        \"payload\": status\n    }];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1460,"wires":[["8f37547ccaa11d90"],["d4be3e2364bba463"]]},{"id":"b51b5e9fab65ba5c","type":"link in","z":"4f78ce2c24f810f8","name":"Status","links":["d4be3e2364bba463"],"x":225,"y":760,"wires":[["63ce1b301393a20c"]]},{"id":"d4be3e2364bba463","type":"link out","z":"4f78ce2c24f810f8","name":"Status","mode":"link","links":["b51b5e9fab65ba5c"],"x":455,"y":1500,"wires":[]},{"id":"52ab866c5c5f22ed","type":"ui_button","z":"4f78ce2c24f810f8","name":"","group":"bd14d2bc8e27db66","order":4,"width":0,"height":0,"passthru":false,"label":"Clear Log","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"CLEAR","topicType":"str","x":100,"y":1500,"wires":[["0771d457191a815d"]]},{"id":"7feb87b62e4ea014","type":"server-state-changed","z":"4f78ce2c24f810f8","name":"Log","server":"e9f9229c.d8b86","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.edward_prototype_v2_error_log","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":1420,"wires":[["0771d457191a815d"]]},{"id":"8593fc6f87999829","type":"server-state-changed","z":"4f78ce2c24f810f8","name":"Plant Sun Light","server":"e9f9229c.d8b86","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.edward_prototype_v2_plant_sun_light","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":280,"wires":[["63ce1b301393a20c"]]},{"id":"c67b50ac6ee060a2","type":"server-state-changed","z":"4f78ce2c24f810f8","name":"Plant Tank Level","server":"e9f9229c.d8b86","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.edward_prototype_v2_plant_tank_level","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":340,"wires":[["63ce1b301393a20c","7acb1c712388ebf4"]]},{"id":"e635bb5002707486","type":"server-state-changed","z":"4f78ce2c24f810f8","name":"Automation Loop","server":"e9f9229c.d8b86","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.edward_prototype_v2_automatic_cycling_loop","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":400,"wires":[["63ce1b301393a20c"]]},{"id":"721485b555b9c915","type":"server-state-changed","z":"4f78ce2c24f810f8","name":"Fish Water Heater","server":"e9f9229c.d8b86","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.edward_prototype_v2_fish_water_heater","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":460,"wires":[["63ce1b301393a20c"]]},{"id":"18ff8d509492e32c","type":"server-state-changed","z":"4f78ce2c24f810f8","name":"Plant Water Mass","server":"e9f9229c.d8b86","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.edward_prototype_v2_plant_water_flow_mass","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":520,"wires":[["81934f6ca4ededc9"]]},{"id":"116e3fe276e57ec5","type":"server-state-changed","z":"4f78ce2c24f810f8","name":"To Low Tide Time (min)","server":"e9f9229c.d8b86","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.edward_prototype_v2_to_low_tide_time","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"toLowTideTime","valueType":"str"}],"x":140,"y":1620,"wires":[["0809225946d5ae89"]]},{"id":"fea72ab2c05f6d21","type":"server-state-changed","z":"4f78ce2c24f810f8","name":"To HighTide Time (min)","server":"e9f9229c.d8b86","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.edward_prototype_v2_to_high_tide_time","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"toHighTideTime","valueType":"str"}],"x":140,"y":1700,"wires":[["0809225946d5ae89"]]},{"id":"22cb2704b09f4d46","type":"server-state-changed","z":"4f78ce2c24f810f8","name":"HighTide Time (min)","server":"e9f9229c.d8b86","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"number.edward_prototype_v2_plants_high_tide_time","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"highTideTime","valueType":"str"}],"x":150,"y":1860,"wires":[["6144b6f24819e68a","0809225946d5ae89"]]},{"id":"772f021b01a3b0ef","type":"server-state-changed","z":"4f78ce2c24f810f8","name":"Low Tide Time (min)","server":"e9f9229c.d8b86","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"number.edward_prototype_v2_plants_low_tide_time","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"lowTideTime","valueType":"str"}],"x":150,"y":1780,"wires":[["0809225946d5ae89","68833434006cfab3"]]},{"id":"86e1e9aaeaf758c3","type":"server-state-changed","z":"4f78ce2c24f810f8","name":"Plant Light Time - On (min)","server":"e9f9229c.d8b86","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"number.edward_prototype_v2_plants_sun_light_on_time","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"plantLightTimeOn","valueType":"str"}],"x":150,"y":1960,"wires":[["86be4d836a3debb7","b5ebbb390019d0a2"]]},{"id":"5263c5255a712bfe","type":"server-state-changed","z":"4f78ce2c24f810f8","name":"Plant Light Time - Off (min)","server":"e9f9229c.d8b86","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"number.edward_prototype_v2_plants_sun_light_off_time","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"plantLightTimeOff","valueType":"str"}],"x":150,"y":2080,"wires":[["76eb3551e14996ee","b5ebbb390019d0a2"]]},{"id":"11cd03035991f33c","type":"server-state-changed","z":"4f78ce2c24f810f8","name":"Flow Meter","server":"e9f9229c.d8b86","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.edward_prototype_v2_water_flow_to_plants","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":640,"wires":[["63ce1b301393a20c"]]},{"id":"1d4d88e94c3b733f","type":"server-state-changed","z":"4f78ce2c24f810f8","name":"Plant Temperature","server":"e9f9229c.d8b86","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.temp_logger_ds18b20_temperature_logger","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":700,"wires":[["63ce1b301393a20c"]]},{"id":"7acb1c712388ebf4","type":"link out","z":"4f78ce2c24f810f8","name":"plantTankLevel","mode":"link","links":["5c235856af9235db"],"x":355,"y":340,"wires":[]},{"id":"81934f6ca4ededc9","type":"api-current-state","z":"4f78ce2c24f810f8","name":"Plant Water Mass Max","server":"e9f9229c.d8b86","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.edward_prototype_v2_plant_water_flow_mass_maximum","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"maxWater","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":140,"y":580,"wires":[["63ce1b301393a20c"]]},{"id":"7450c3a35ebd7379","type":"csv","z":"590f50c2a4f3bbc8","name":"JS -> CSV","sep":",","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\n","temp":"Tide,Start Time (UTC 0),End Time (UTC 0),Flow Mass (l)","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":true,"x":610,"y":280,"wires":[["44b73c3d5f564636"]]},{"id":"44b73c3d5f564636","type":"file","z":"590f50c2a4f3bbc8","name":"Append -> table.csv","filename":"/config/www/edward-prototype-v2/table.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"utf8","x":840,"y":280,"wires":[[]]},{"id":"5ff00b84cdf70c12","type":"ui_template","z":"590f50c2a4f3bbc8","group":"e6bc42f13c26fd92","name":"Google Form","order":0,"width":0,"height":0,"format":"<iframe src=\"https://docs.google.com/forms/d/e/1FAIpQLSf-6y535U-t3EkaL9NWWgtuXE2iSzl1fodXG3gaoo_-AvMQDg/viewform?embedded=true\">Wird geladen</iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":110,"y":680,"wires":[[]]},{"id":"059ea0df71c02995","type":"ui_template","z":"590f50c2a4f3bbc8","group":"","name":"General CSS","order":1,"width":0,"height":0,"format":"<style>\n    .deviceData .nr-dashboard-ui_table {\n        height: 90% !important;\n        height: -webkit-fill-available !important;\n    }\n\n    .deviceData .tabulator-col:first-of-type, .deviceData .tabulator-cell:first-of-type {\n        width: 5em !important;\n    }\n\n    .deviceData .tabulator-headers, .deviceData .tabulator-row {\n        display: flex !important;\n    }\n\n    .deviceData .tabulator-table {\n        width: 100% !important;\n    }\n\n    .deviceData .tabulator-col:nth-of-type(3), .deviceData .tabulator-col:nth-of-type(4),\n    .deviceData .tabulator-cell:nth-of-type(3), .deviceData .tabulator-cell:nth-of-type(4) {\n        flex-grow: 1 !important;\n    }\n\n    .userQuestions .nr-dashboard-cardcontainer {\n        height: auto !important;\n        flex-grow: 1 !important;\n    }\n\n    .userQuestions md-card, .userQuestions iframe {\n        height: 100% !important;\n        border: none !important;\n        overflow: hidden !important;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","className":"","x":110,"y":120,"wires":[[]],"icon":"node-red-contrib-home-assistant-websocket/ha-render-template.svg"},{"id":"d951f0e8109dbbed","type":"comment","z":"590f50c2a4f3bbc8","name":" Head ","info":"","x":440,"y":60,"wires":[]},{"id":"45ad8c5e4c18d7b2","type":"comment","z":"590f50c2a4f3bbc8","name":"- Device Data -","info":"","x":440,"y":220,"wires":[]},{"id":"c19e544908df6b4c","type":"comment","z":"590f50c2a4f3bbc8","name":" User input ","info":"","x":440,"y":620,"wires":[]},{"id":"a16018e059d6092a","type":"file","z":"590f50c2a4f3bbc8","name":"Empty -> table.csv","filename":"/config/www/edward-prototype-v2/table.csv","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"utf8","x":390,"y":360,"wires":[[]]},{"id":"a25757e067868369","type":"inject","z":"590f50c2a4f3bbc8","name":"Clear Device Data","props":[{"p":"payload"},{"p":"stop","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Tide,Start Time (UTC 0),End Time (UTC 0),Flow Mass (l)","payloadType":"str","x":150,"y":360,"wires":[["a16018e059d6092a","9004f6edfde932dc"]]},{"id":"347ca4cf500983ac","type":"file in","z":"590f50c2a4f3bbc8","name":"Read -> table.csv","filename":"/config/www/edward-prototype-v2/table.csv","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","allProps":false,"x":370,"y":480,"wires":[["3e3787a8d2ef6217"]]},{"id":"5fdf62679abfc42a","type":"base64","z":"590f50c2a4f3bbc8","name":"Base64 Encode","action":"str","property":"payload","x":760,"y":440,"wires":[["13b3cd33255762cc"]]},{"id":"d21aa42ec86d688f","type":"watch","z":"590f50c2a4f3bbc8","name":"Change -> table.csv","files":"/config/www/edward-prototype-v2/table.csv","recursive":"","x":130,"y":520,"wires":[["347ca4cf500983ac"]]},{"id":"13b3cd33255762cc","type":"ui_template","z":"590f50c2a4f3bbc8","group":"5c8f7cbcb812feb1","name":"Download CSV","order":1,"width":0,"height":0,"format":"<a href=\"data:text/csv;base64,{{msg.payload}}\" download=\"edward-prototype-v2_device-data.csv\">Download CSV</a>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":980,"y":440,"wires":[[]],"icon":"font-awesome/fa-download"},{"id":"2a11a7a6704c3ccf","type":"ui_table","z":"590f50c2a4f3bbc8","group":"5c8f7cbcb812feb1","name":"Device Data Table","order":2,"width":0,"height":0,"columns":[{"field":"","title":"ID","width":"","align":"left","formatter":"rownum","formatterParams":{"target":"_blank"}},{"field":"Tide","title":"Tide","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Start Time (UTC 0)","title":"Start Time (UTC 0)","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"End Time (UTC 0)","title":"End Time (UTC 0)","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Flow Mass (l)","title":"Flow Mass (l)","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":970,"y":520,"wires":[]},{"id":"d1371bbcd0758faa","type":"csv","z":"590f50c2a4f3bbc8","name":"CSV -> JS","sep":",","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":true,"x":750,"y":480,"wires":[["2a11a7a6704c3ccf"]]},{"id":"3e3787a8d2ef6217","type":"function","z":"590f50c2a4f3bbc8","name":"Trim","func":"if (msg.payload.trim().split(\"\\n\").length > 1) {\n    // Sends the trimmed CSV file on the 1 output\n    msg.payload = msg.payload.trim();\n    return [msg, null];\n} else {\n    // Sends an empty list on the 2 output\n    return [\n        null,\n        { \"payload\": [] }\n    ];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":520,"wires":[["5fdf62679abfc42a","d1371bbcd0758faa"],["2a11a7a6704c3ccf"]]},{"id":"9004f6edfde932dc","type":"function","z":"590f50c2a4f3bbc8","name":"Tide Object","func":"if (msg.hasOwnProperty(\"stop\")) {\n    context.set('deviceDataTide', null);\n    context.set('deviceDataTime', null);\n    context.set('deviceDataGetFlowMass', null);\n\n    return null;\n}\n\nvar tide = context.get('deviceDataTide');\nvar startTime = context.get('deviceDataTime');\nvar getFlowMass = context.get('deviceDataGetFlowMass');\n\nvar obj = {};\nobj.payload = {\n    \"Tide\": tide,\n    \"Start Time (UTC 0)\": startTime,\n    \"End Time (UTC 0)\": (new Date()).toISOString().replace(\"T\", \" \").substring(0, 19),\n    \"Flow Mass (l)\": ((getFlowMass) ? msg.flowMass : \"n/a\")\n};\n\ncontext.set('deviceDataTide', msg.payload);\ncontext.set('deviceDataTime', obj.payload[\"End Time (UTC 0)\"]);\ncontext.set('deviceDataGetFlowMass', (tide == \"EMPTY\" && msg.payload == \"MIDWAY\"));\n\nif (tide !== null && startTime !== null && getFlowMass !== null) return obj;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\n\ncontext.set('deviceDataTide', null);\ncontext.set('deviceDataTime', null);\ncontext.set('deviceDataGetFlowMass', null);","finalize":"","libs":[],"x":410,"y":280,"wires":[["7450c3a35ebd7379"]]},{"id":"5c235856af9235db","type":"link in","z":"590f50c2a4f3bbc8","name":"plantTankLevel","links":["7acb1c712388ebf4"],"x":55,"y":280,"wires":[["af301db7e93f7e43"]]},{"id":"af301db7e93f7e43","type":"api-current-state","z":"590f50c2a4f3bbc8","name":"Flow Mass","server":"e9f9229c.d8b86","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.edward_prototype_v2_plant_water_flow_mass","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"flowMass","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":210,"y":280,"wires":[["9004f6edfde932dc"]]},{"id":"4692c7eabed6d7c6","type":"ui_ui_control","z":"590f50c2a4f3bbc8","name":"Automatic Start","events":"all","x":140,"y":440,"wires":[["347ca4cf500983ac"]],"icon":"font-awesome/fa-play"}]